<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>LifeLinker</title>
<%- include('../header'); -%>
    <!-- main content start -->
    <div class="main-content">

      <div class="row content-top-gap2">
        <div class="col-lg-12">
          <nav class="navbar navbar-expand-lg navbar-light bg-white">
            <a class="navbar-brand text-center mr-5" href="#">
              <span class="dash-icon"><i class="fas fa-tachometer-alt"></i></span>
              Dashboard
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
              aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item active text-center mr-5">
                  <a class="nav-link" href="#">
                    <span class="dash-icon"><i class="far fa-user"></i></span>
                    Master
                  </a>
                </li>
                <li class="nav-item text-center mr-5">
                  <a class="nav-link" href="#">
                    <span class="dash-icon"><i class="fas fa-exchange-alt"></i></span>
                    Transaction
                  </a>
                </li>
                <li class="nav-item text-center mr-5">
                  <a class="nav-link" href="#">
                    <span class="dash-icon"><i class="fas fa-hand-holding-medical"></i></span>
                    Patient 360
                  </a>
                </li>
                <li class="nav-item text-center mr-5">
                  <a class="nav-link" href="#">
                    <span class="dash-icon"><i class="fas fa-receipt"></i></span>
                    Outside Reciept
                  </a>
                </li>
                <li class="nav-item text-center mr-5">
                  <a class="nav-link" href="#">
                    <span class="dash-icon"><i class="fas fa-file-invoice"></i></span>
                    Outpatient Department
                  </a>
                </li>
                <li class="nav-item text-center mr-5">
                  <a class="nav-link" href="#">
                    <span class="dash-icon"><i class="fas fa-chart-line"></i></span>
                    Analytics
                  </a>
                </li>
                <li class="nav-item text-center mr-5">
                  <a class="nav-link" href="#">
                    <span class="dash-icon"><i class="far fa-clock"></i></span>
                    Waiting List
                  </a>
                </li>
                <li class="nav-item text-center mr-5">
                  <a class="nav-link" href="#">
                    <span class="dash-icon"><i class="fas fa-wrench"></i></span>
                    Adminstration
                  </a>
                </li>
                <li class="nav-item text-center">
                  <a class="nav-link" href="#">
                    <span class="dash-icon"><i class="fas fa-spinner"></i></span>
                    Additional
                  </a>
                </li>

              </ul>
            </div>
          </nav>
        </div>
      </div>
      <!-- content -->
      <div class="container-fluid">

        <div class="chart">
          <div class="row">
            <div class="col-lg-12 pl-lg-2 mt-2">
              <h4 class="primary">Clinic</h4>
            </div>
            <div class="col-lg-12 pl-lg-2 chart-grid mt-3">

              <!-- form  -->
               <div id="errordiv1"></div>
              <form id="clinic-config" >
                
                <input type="hidden" id="query" name="query" value="0">
                <input type="hidden" id="itemid" name="itemid" value='<%=a.id  %>'>
                

                <div class="card card_border">
                  <div class="">
                    <!--Past your code here starts-->

                    <div class="card">
                      <div class="col-xl-12 p-heading">
                        <h6 class="p-text">DETAILS</h6>
                      </div>

                      <div class="card-body">
                        <div class="form-row">
                          <div class="col-3 mb-3 mb-3">
                            <div class="form-group">
                              <label class="input__label">Code</label>
                              <input name="clinic_code" id="clinic_code" type="text" class="form-control input-style" placeholder="" data-validation="required" data-error-message="Code is required.">
                            </div>
                          </div>
                          <div class="col-3 mb-3 mb-3">
                            <div class="form-group">
                              <label class="input__label">Description</label>
                              <input name="clinic_desc" id="clinic_desc" type="text" class="form-control input-style" placeholder="" data-validation="required" data-error-message="Description is required.">
                            </div>
                          </div>
                          <div class="col-3 mb-3 mb-3">
                            <div class="form-group">
                              <label class="input__label">Clinic Contact Number</label>
                              <input name="clinic_cont_no" id="clinic_cont_no"   type="number"  class="form-control input-style only-10" placeholder="" data-validation="required" data-error-message="Clinic contact number is required.">
                            </div>
                          </div>
                          <div class="col-3 mb-3 mb-3">
                            <div class="form-group">
                              <label class="input__label">Clinic Email</label>
                              <input name="clinic_email" data-validation="email required" id="clinic_email" type="email" class="form-control input-style" placeholder="" data-error-message="Clinic email is required.">
                            </div>
                          </div>
                        </div>
                        <div class="form-row">
                          <div class="col-3 mb-3 mb-3">
                            <div class="form-group">
                              <label class="input__label">Contact Number</label>
                              <input name="clinic_cont_no_2" id="clinic_cont_no_2" type="number"  class="form-control input-style only-10" placeholder="" data-validation="required" data-error-message="Contact number is required.">
                            </div>
                          </div>
                          <div class="col-3 mb-3 mb-3">
                            <div class="form-group">
                              <label class="input__label">Clinical Fax No.</label>
                              <input name="clinic_fax_no" id="clinic_fax_no" type="text" class="form-control input-style" placeholder="" data-validation="required" data-error-message="Clinical fax number is required.">
                            </div>
                          </div>
                          <div class="col-3 mb-3 mb-3">
                            <div class="form-group">
                              <label class="input__label">(CIN) Clinical Registration No.</label>
                              <input name="clinic_reg_no" id="clinic_reg_no" type="text" class="form-control input-style" placeholder="" data-validation="required" data-error-message="Clinical registration number is required.">
                            </div>
                          </div>
                          <div class="col-3 mb-3 mb-3">
                            <div class="form-group">
                              <label class="input__label">Result Receive Data</label>
                              <input name="clinic_result_receive_data" id="clinic_result_receive_data" type="text" class="form-control input-style" placeholder="" data-validation="required" data-error-message="Result receive data is required.">
                            </div>
                          </div>
                        </div>
                        <div class="form-row">
                          <div class="col-3 mb-3 mb-3">
                            <div class="form-group">
                              <label class="input__label">Address Line 1</label>
                              <input name="clinic_add_line1" id="clinic_add_line1" type="text" class="form-control input-style" placeholder="" data-validation="required" data-error-message="Address line 1 is required.">
                            </div>
                          </div>
                          <div class="col-3 mb-3 mb-3">
                            <div class="form-group">
                              <label class="input__label">Address Line 2</label>
                              <input name="clinic_add_line2" id="clinic_add_line2" type="text" class="form-control input-style" placeholder="" data-validation="" data-error-message="Address line 2 is required.">
                            </div>
                          </div>
                          <div class="col-3 mb-3 mb-3">
                            <div class="form-group">
                              <label class="input__label">Address Line 3</label>
                              <input name="clinic_add_line_3" id="clinic_add_line_3" type="text" class="form-control input-style" placeholder="" data-validation="" data-error-message="Address line 3 is required.">
                            </div>
                          </div>
                          <div class="col-3 mb-3 mb-3">
                            <div class="form-group">
                              <label class="input__label">Country</label>
                              <select name="clinic_country" id="clinic_country" class="form-control input-style" data-validation="required" data-error-message="Country is required.">
                                <option value="">Select</option>
                                <option value="INIDA">INDIA</option>
                            </select>
                             
                            </div>
                          </div>
                        </div>
                        <div class="form-row">
                          <div class="col-3 mb-3 mb-3">
                            <div class="form-group">
                              <label class="input__label">State</label>
                              <select name="clinic_state" id="clinic_state" onchange="loadCity(this)" class="form-control input-style" data-validation="required" data-error-message="State is required.">
                                <option value="">Select</option>
                            </select>
                              
                            </div>
                          </div>
                          <div class="col-3 mb-3 mb-3">
                            <div class="form-group">
                              <label class="input__label">City</label>
                              <select name="clinic_city" id="clinic_city" class="form-control input-style" data-validation="required" data-error-message="City is required.">
                            

                            </select>
                            <input type="text" class="form-control input-style" id="hid_div" data-validation
                            aria-describedby="emailHelp" style="display:none;" value='<%= a.clinic_city %>'>
                              
                            </div>
                          </div>
                          <div class="col-3 mb-3 mb-3">
                            <div class="form-group">
                              <label class="input__label">Area</label>
                              <input name="clinic_area" id="clinic_area" type="text" class="form-control input-style" placeholder="" data-validation="required" data-error-message="Area is required.">

                            </div>
                          </div>
                          <div class="col-3 mb-3 mb-3">
                            <div class="form-group">
                              <label class="input__label">Pincode</label>
                              <input name="clinic_pincode" id="clinic_pincode" type="number" class="form-control input-style" placeholder="" data-validation="required" data-error-message="Pincode is required.">
                            </div>
                          </div>
                        </div>
                        <div class="form-row">
                          <div class="col-3 mb-3 mb-3">
                            <div class="form-group">
                              <label class="input__label">Shop &amp; Establishment No.</label>
                              <input name="clinic_estb_no" id="clinic_estb_no" type="text" class="form-control input-style" placeholder="" data-validation="required" data-error-message="Shop & Establishment No. is required.">
                            </div>
                          </div>
                          <div class="col-3 mb-3 mb-3">
                            <div class="form-group">
                              <label class="input__label">PAN No. </label>
                              <input name="clinic_pan_no" id="clinic_pan_no" type="text" class="form-control input-style" placeholder="" data-validation="required" data-error-message="PAN No. is required.">
                            </div>
                          </div>
                          <div class="col-3 mb-3 mb-3">
                            <div class="form-group">
                              <label class="input__label">Server</label>
                              <input name="clinic_server" id="clinic_server" type="text" class="form-control input-style" placeholder="" data-validation="required" data-error-message="Server is required.">
                            </div>
                          </div>
                          <div class="col-3 mb-3 mb-3">
                            <div class="form-group">
                              <label class="input__label">Cluster</label>
                              <input name="clinic_cluster" id="clinic_cluster" type="text" class="form-control input-style" placeholder="" data-validation="required" data-error-message="Cluster is required.">
                            </div>
                          </div>
                        </div>
                        <div class="form-row">
                          <div class="col-3 mb-3 mb-3">
                            <div class="form-group">
                              <label class="input__label">TIN No.</label>
                              <input name="clinic_tin_no" id="clinic_tin_no" type="text" class="form-control input-style" placeholder="" data-validation="" data-error-message="TIN No. is required.">
                            </div>
                          </div>
                          <div class="col-3 mb-3 mb-3">
                            <div class="form-group">
                              <label class="input__label">GSTIN No.</label>
                              <input name="clinic_gstin_no" id="clinic_gstin_no" type="text" class="form-control input-style" placeholder="" data-validation="required" data-error-message="GSTIN No. is required.">
                            </div>
                          </div>
                          <div class="col-3 mb-3 mb-3">
                            <div class="form-check-label">
                              <label class="input__label">Clinic Type</label>
                            </div>
                            <div class="form-check">
                              <label class="form-check-label mr-5">
                                <input name="clinic_type" id="is_processing_unit" class="form-check-input" type="checkbox" value="Processing Unit" data-validation="required" data-error-message="Processing unit selection is required."> Is Processing Unit
                              </label>
                              <label class="form-check-label mr-5">
                                <input name="clinic_type" id="is_collection_unit" class="form-check-input" type="checkbox" value="Collection Unit" data-validation="required" data-error-message="Collection unit selection is required."> Is Collection Unit
                              </label>
                            </div>
                          </div>
                        </div>
                      </div>
                      
                      
						
                  
				  <div class="card card_border mt-3">
                  <div class="">
						<div class="form-row">
                          <div class="col-12 mb-3 mb-3">
                            <div class="form-group">
                              <div class="col-xl-12 p-heading">
                                <h6 class="p-text">LIST OF DEPARTMENTS</h6>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="form-row">
                          <div class="col-12 mb-3 mb-3">
                            <div class="form-group">
                              <div class="col col-12 pr-xl-0 pl-xl-0">
                              <div class="slidx">
                                <table class="table2">
                                  <thead>
                                    <tr>
                                      <th  width='10%'>Select</th>
                                      <th  width='90%'>department</th>
                                    </tr>
                                  </thead>
                                  <tbody id="dept-dtls">
                                  
                                  </tbody>
                                </table>
								</div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
              <!--Past your code here ends-->
            </div>
          </div>
			<div class="form-group mt-1 mb-3 text-right">
	
			<button type="button" onclick="updateQuery()" disabled id="mod-btn" class="btn btn-primary btn-style mt-2 mr-2"><strong>Modify</strong></button>
			<button type="submit"
			class="btn-primary btn-style btn mt-2 mr-2" id="sub-btn"><strong><i class="far fa-save"></i>
			Save</strong></button>
      <button type="button"  class="btn btn-danger btn-style mt-2 mr-2" onclick="window.location.href = '/clinic/40';"><strong><i class="fas fa-times"></i> Cancel</strong></button>
			</div>
			</form>
        </div>
       <%- include('../footer') -%>
       
       <script>
        
        function loadCity(a) {

$.ajax({
  url: '/clinic/cities', // Endpoint to fetch all cities
  type: 'GET',
  success: function(data) {
    console.log(data);
    
    let selectOptions = '<option value="">Select city</option>'; // Initial select option
    
    // Filter cities based on selected stateCode
    const filteredCities = data.filter(city => city.stateCode === a.value);
    
    filteredCities.forEach(function(city) {
      selectOptions += `
        <option value="${city.cityName}">${city.cityName}</option>
      `;
    });
    
    $('#clinic_city').html(selectOptions); // Populate select options
  },
  error: function(xhr, status, error) {
    console.error('Error fetching cities:', error);
  }
});
}
        function updateQuery(){
document.getElementById('query').value=1;
$('#mod-btn').prop('disabled', true);  
$('#hid_div').hide();
$('#clinic_city').show(); 
$('input[data-validation],select[data-validation]').prop('disabled', false);
$('#clinic_code').prop('disabled', true);
document.getElementById('sub-btn').disabled = false;
}
if('<%= a.id %>'!==''){
  $('#clinic_city').hide();
  $('#hid_div').show();
$('input[data-validation],select[data-validation]').prop('disabled', true);
document.getElementById('sub-btn').disabled = true;
document.getElementById('mod-btn').disabled = false;

}else{

document.getElementById('mod-btn').disabled = true;
}

       document.getElementById('clinic_code').value = '<%= a.clinic_code %>';
       document.getElementById('clinic_desc').value = '<%= a.clinic_desc %>';
       document.getElementById('clinic_cont_no').value = '<%= a.clinic_cont_no %>';
        document.getElementById('clinic_email').value = '<%= a.clinic_email %>';
        document.getElementById('clinic_cont_no_2').value = '<%= a.clinic_cont_no_2 %>';
        document.getElementById('clinic_fax_no').value = '<%= a.clinic_fax_no %>';
        document.getElementById('clinic_reg_no').value = '<%= a.clinic_reg_no %>';
        document.getElementById('clinic_result_receive_data').value = '<%= a.clinic_result_receive_data %>';
        document.getElementById('clinic_add_line1').value = '<%= a.clinic_add_line1 %>';
        document.getElementById('clinic_add_line2').value = '<%= a.clinic_add_line2 %>';
        document.getElementById('clinic_add_line_3').value = '<%= a.clinic_add_line_3 %>';
        document.getElementById('clinic_country').value = '<%= a.clinic_country %>';
        document.getElementById('clinic_state').value = '<%= a.clinic_state %>';
        document.getElementById('clinic_city').value = '<%= a.clinic_city %>';
        document.getElementById('clinic_pincode').value = '<%= a.clinic_pincode %>';
        document.getElementById('clinic_area').value = '<%= a.clinic_area %>';
        document.getElementById('clinic_estb_no').value = '<%= a.clinic_estb_no %>';
        document.getElementById('clinic_pan_no').value = '<%= a.clinic_pan_no %>';
        
        document.getElementById('clinic_server').value = '<%= a.clinic_server %>';
        document.getElementById('clinic_cluster').value = '<%= a.clinic_cluster %>';
        document.getElementById('clinic_tin_no').value = '<%= a.clinic_tin_no %>';
        document.getElementById('clinic_gstin_no').value = '<%= a.clinic_gstin_no %>';
        
        if('<%= a.status %>'==='false'){
        document.getElementById('mod-btn').disabled = true;
      }
        if ('<%= a.clinic_type %>' === 'Processing Unit') {
            document.getElementById('is_processing_unit').checked = true;
        } else if ('<%= a.clinic_type %>' === 'Collection Unit') {
            document.getElementById('is_collection_unit').checked = true;
        }
   </script>
        <script type="module">
            import { loadDepttbl } from '../javascripts/data.js';

            const receivedValue = '<%= a.dept_desc%>';
            loadDepttbl('#dept-dtls',receivedValue);

        </script>
        <script type="module">
            import { charVal,numVal,valCheck} from '../javascripts/lengthVal.js';
            numVal('.only-10',10);
         





            $(document).ready(function() {
             
              function loadState(a){
            fetch('/clinic/reloadState')
                .then(response => response.json())
                .then(data => {
                    const dropdown = document.getElementById(a);
                    data.forEach(state => {
                        const option = document.createElement('option');
                        option.value = state.stateCode;
                        option.textContent = state.stateName;
                        dropdown.appendChild(option);
                        
                    });
                    dropdown.value = '<%= a.clinic_state %>';
                })
                .catch(error => console.error('Error fetching states:', error));
            }
	       loadState('clinic_state');


                console.log("Document is ready"); // Debugging log
                var datatosent={}
      function validateForm(formId, errorDivId) {
          $(formId).on('submit', function(event) {
            
              event.preventDefault();
              
              let isValid = true;
              let errorMessage = '';

              const inputs = $(this).find('input, select').toArray().reverse();
              let formData = {};

              inputs.forEach(function(input) {
                  const $input = $(input);
                  const validationRules = $input.data('validation');
                  const customErrorMessage = $input.data('error-message') || 'This field is required.';
                  $input.removeClass('is-invalid')
                  if (validationRules) {
                      const rules = validationRules.split(' ');

                      rules.forEach(rule => {
                          switch (rule) {
                              case 'required':
                                  if (!$input.val() || $input.val() === "") {
                                      isValid = false;
                                      errorMessage = customErrorMessage;
                                      $input.addClass('is-invalid')
                                  }
                                  break;
                              case 'email':
                                  const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
                                  if (!emailRegex.test($input.val())) {
                                      isValid = false;
                                      errorMessage = customErrorMessage;
                                  }
                                  break;
                              // Add more cases here for different validation rules
                          }
                      });
                  }
                 
                  formData = $( "#clinic-config" ).serialize();
                    var formDataJSON = {};
formData.split('&').forEach(function(keyValue) {
    var pair = keyValue.split('=');
    var key = pair[0];
    var value = decodeURIComponent((pair[1] || '').replace(/\+/g, ' '));

    if (formDataJSON[key] !== undefined) {
        formDataJSON[key] += ',' + value;
    } else {
        formDataJSON[key] = value;
    }
});

datatosent=formDataJSON
 });
console.log(formData)

              if (isValid) {
                $.ajax({
                        url: '/clinic/clinic-configs',
                        type: 'POST',
                        contentType: 'application/json',
                        data: JSON.stringify(datatosent),
                        success: function(response) {
                            alert(response.msg);
                            $(errorDivId).removeClass('alert-danger').addClass('alert-success').text(response.msg).show();
                            console.log('Response:', response);
                        },
                        error: function(xhr, status, error) {
                          const response = JSON.parse(xhr.responseText);
                          $(errorDivId).removeClass('alert-success').addClass('alert-danger').text(response.msg).show();
                            console.error('Error:', error);
                        }
                    });
               
                  } else {
                alert(errorMessage);
                  $(errorDivId).removeClass('alert-success').addClass('alert-danger').text(errorMessage).show();
                  // $(errorDivId).text(errorMessage).show();
              }
          });
      }

      validateForm('#clinic-config', '#errordiv1');
        
               
            });
        </script>
        

