
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>LifeLinker</title>
<%- include('../header'); -%>
    <!-- main content start -->
    <div class="main-content">

      <div class="row content-top-gap2">
        <div class="col-lg-12">
          <nav class="navbar navbar-expand-lg navbar-light bg-white">
            <a class="navbar-brand text-center mr-5" href="#">
              <span class="dash-icon"><i class="fas fa-tachometer-alt"></i></span>
              Dashboard
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
              aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item active text-center mr-5">
                  <a class="nav-link" href="#">
                    <span class="dash-icon"><i class="far fa-user"></i></span>
                    Master
                  </a>
                </li>
                <li class="nav-item text-center mr-5">
                  <a class="nav-link" href="#">
                    <span class="dash-icon"><i class="fas fa-exchange-alt"></i></span>
                    Transaction
                  </a>
                </li>
                <li class="nav-item text-center mr-5">
                  <a class="nav-link" href="#">
                    <span class="dash-icon"><i class="fas fa-hand-holding-medical"></i></span>
                    Patient 360
                  </a>
                </li>
                <li class="nav-item text-center mr-5">
                  <a class="nav-link" href="#">
                    <span class="dash-icon"><i class="fas fa-receipt"></i></span>
                    Outside Reciept
                  </a>
                </li>
                <li class="nav-item text-center mr-5">
                  <a class="nav-link" href="#">
                    <span class="dash-icon"><i class="fas fa-file-invoice"></i></span>
                    Outpatient Department
                  </a>
                </li>
                <li class="nav-item text-center mr-5">
                  <a class="nav-link" href="#">
                    <span class="dash-icon"><i class="fas fa-chart-line"></i></span>
                    Analytics
                  </a>
                </li>
                <li class="nav-item text-center mr-5">
                  <a class="nav-link" href="#">
                    <span class="dash-icon"><i class="far fa-clock"></i></span>
                    Waiting List
                  </a>
                </li>
                <li class="nav-item text-center mr-5">
                  <a class="nav-link" href="#">
                    <span class="dash-icon"><i class="fas fa-wrench"></i></span>
                    Adminstration
                  </a>
                </li>
                <li class="nav-item text-center">
                  <a class="nav-link" href="#">
                    <span class="dash-icon"><i class="fas fa-spinner"></i></span>
                    Additional
                  </a>
                </li>

              </ul>
            </div>
          </nav>
        </div>
      </div>
      <!-- content -->
      <div class="container-fluid">

        <div class="chart">
          <div class="row">
            <div class="col-lg-12 pl-lg-2 mt-2">
              <h4 class="primary">Department </h4>
            </div>
            <div class="col-lg-12 pl-lg-2 chart-grid mt-1">

              <!-- form start here -->
               <div id="errordiv1"></div>
              <form id="Department-list-add" method="post">
                <div class="card card_border">
                  <div class="">
                    <!-- Past your code here starts -->
                    <div class="col-xl-12 p-heading">
                      <h6 class="p-text">DEPARTMENT DETAILS</h6>
                    </div>
                    <div class="card-body">
                      <div class="form-row">
                        <div class="col-3 mb-3">
                          <div class="form-group">
                            <label class="input__label" for="dept_code">Code </label>
                            <input type="text" id="dept_code" name="dept_code" class="form-control input-style"
                               data-validation="required" data-error-message="Code is required." >
                          </div>
                        </div>
                        <div class="col-5 mb-3">
                          <div class="form-group">
                            <label class="input__label" for="dept_desc">Description</label>
                            <input type="text" id="dept_desc" name="dept_desc" class="form-control input-style"
                               data-validation="required" data-error-message="Description is required.">
                          </div>
                        </div>
                        <div class="col-4 mb-3">
                          <div class="form-group">
                            <label class="input__label">Is Clinical</label>
                            <select id="dept_isClinic" name="dept_isClinic" class="form-control input-style"
                              data-validation="required" data-error-message="Please select an option.">
                              <option value="">Select...</option>
                              <option value="true">Yes</option>
                              <option value="false">No</option>
                            </select>
                          </div>
                        </div>
                      </div>
              
                      <div class="form-row">
                        <div class="col-12 mb-3">
                          <div class="form-group">
                            <div class="col col-12 pr-xl-0 pl-xl-0">
                              <div class="slidx">
                                <table class="table2">
                                  <thead>
                                    <tr>
                                      <th>&nbsp;</th>
                                      <th>Specialization - SubSpecialization</th>
                                    </tr>
                                  </thead>
                                  <tbody id="sub-spec-tbl">
                                    
                                  </tbody>
                                </table>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- Past your code here ends -->
                  </div>
                </div>
                <!-- buttons-->
                 <input type="hidden" name="query" id="query" value="0">
                 <input type="hidden" name="itemid" id="itemid" value='<%= a.id %>'>
                <div class="text-right col-lg-12 mt-2">
                  <button type="button" disabled id="mod-btn" onclick="updateQuery()" class="btn btn-primary btn-style mt-2 mr-2"><strong>Modify</strong></button>
                  <!-- <button type="submit" class="btn btn-primary btn-style mt-2 mr-2"><strong>New</strong></button> -->
                  <button type="submit"   id="sub-btn" class="btn btn-primary btn-style mt-2 mr-2" ><strong><i class="far fa-save"></i> Save</strong></button>
                  <button type="button"  class="btn btn-danger btn-style ml-2 mr-3" onclick="window.location.href = '/clinic/7';"><strong><i class="fas fa-times"></i> Cancel</strong></button>
                </div>
              </form>
              
            </div>
            <%- include('../footer'); -%>
         <script>
      function updateQuery(){
        document.getElementById('query').value=1;
        $('#mod-btn').prop('disabled', true);   
        $('input[data-validation], select[data-validation]').prop('disabled', false);
        $('#dept_code').prop('disabled', true);
        document.getElementById('sub-btn').disabled = false;
      }
         
        var codeValue = '<%= a.dept_code %>'; // Assuming 'department.code' contains the value to insert
        document.getElementById('dept_code').value = codeValue;
        
       document.getElementById('dept_desc').value='<%= a.dept_desc %>'; 
       document.getElementById('dept_isClinic').value='<%= a.dept_isClinic %>';   
          
      if('<%= a.dept_code %>'!==''){
        $('input[data-validation], select[data-validation]').prop('disabled', true);
        
        document.getElementById('sub-btn').disabled = true;
        document.getElementById('mod-btn').disabled = false;
      }else{
        document.getElementById('mod-btn').disabled = true;
      }

      if('<%= a.status %>'==='false'){
        document.getElementById('mod-btn').disabled = true;
      }
 
    
    // Convert the received string to an array of values
    

    //    const subSpec = '<%= a.dept_sub_spec %>'.split(',');
    // const options = document.querySelectorAll('input[type="checkbox"]').options;

    // // const checkbox = document.querySelectorAll(`input[type="checkbox"][value="${value.trim()}"]`);
    // //   if (checkbox) {
    // //     checkbox.checked = true;
    // //   }

    // for (let i = 0; i < options.length; i++) {
    //   if (subSpec.includes(options[i].value)) {
    //     options[i].checked = true;
    //   }
    // }
         </script>

            <script type="module">
              import { loadSubSpectbl } from '../javascripts/data.js';

              const receivedValue = '<%= a.dept_sub_spec %>';

              loadSubSpectbl('#sub-spec-tbl',receivedValue);
              
              $(document).ready(function() {
                
                console.log("Document is ready");
            
                function validateForm(formId, errorDivId) {
                  $(formId).on('submit', function(event) {
                    event.preventDefault();
                    console.log("Form submission prevented");
                    let isValid = true;
                    let errorMessage = '';
            
                    // Reset previous validation states
                    $(this).find('.is-invalid').removeClass('is-invalid');
            
                    const inputs = $(this).find('input, select').toArray().reverse();
                    let formData = {};
            
                    inputs.forEach(function(input) {
                      const $input = $(input);
                      const validationRules = $input.data('validation');
                      const customErrorMessage = $input.data('error-message') || 'This field is required.';
            
                      if (validationRules) {
                        const rules = validationRules.split(' ');
            
                        rules.forEach(rule => {
                          switch (rule) {
                            case 'required':
                              if (!$input.val()) {
                                isValid = false;
                                errorMessage = customErrorMessage;
                                $input.addClass('is-invalid');
                                console.log(`Validation failed: ${customErrorMessage}`);
                              }
                              break;
                            case 'email':
                              const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
                              if (!emailRegex.test($input.val())) {
                                isValid = false;
                                errorMessage = customErrorMessage;
                                $input.addClass('is-invalid');
                              }
                              break;
                            // Add more cases here for different validation rules
                          }
                        });
                      }
                      
                      // formData[$input.attr('name')] = $input.val();
                      

                    });
                    formData = $( "#Department-list-add" ).serialize();
                    var formDataJSON = {};
formData.split('&').forEach(function(keyValue) {
    var pair = keyValue.split('=');
    var key = pair[0];
    var value = decodeURIComponent((pair[1] || '').replace(/\+/g, ' '));

    if (formDataJSON[key] !== undefined) {
        formDataJSON[key] += ',' + value;
    } else {
        formDataJSON[key] = value;
    }
});


console.log('raaax',formDataJSON);
            
                    if (isValid) {
                      $.ajax({
                        url: '/clinic/department-list',
                        type: 'POST',
                        contentType: 'application/json',
                        data: JSON.stringify(formDataJSON),
                        success: function(response) {
                          alert(response.msg);
                          $(errorDivId).removeClass('alert-danger').addClass('alert-success').text(response.msg).show();
                          console.log('Response:', response);
                        },
                        error: function(xhr, status, error) {
                          const res =xhr.responseJSON
                          $(errorDivId).removeClass('alert-success').addClass('alert-danger').text(res.msg).show();
                          console.error('Error:', error);
                        }
                      });
                    } else {
                      alert(errorMessage);
                      $(errorDivId).removeClass('alert-success').addClass('alert-danger').text(errorMessage).show();
                    }
                  });
                }
            
                validateForm('#Department-list-add', '#errordiv1');
              });
            </script>
            
            <!--footer section start-->
         