<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>LifeLinker</title>

  <!-- Template CSS -->
  <link rel="stylesheet" href="../stylesheets/style.css?v=0.2">
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

  <!-- google fonts -->
  <link href="//fonts.googleapis.com/css?family=Montserrat:300,400,600,700,800,900&display=swap" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" rel="stylesheet">
</head>

<body class="sidebar-menu-collapsed">
  <div class="se-pre-con"></div>
<section>
  <!-- sidebar menu start -->
  <div class="sidebar-menu sticky-sidebar-menu">

    <!-- logo start -->
    <div class="logo">
      <h1><a href="index.html">LifeLinker</a></h1>
    </div>
    <div class="logo-icon text-center">
      <a href="index.html" title="logo"><img src="../images/TG3-Logo-Green.png" alt="logo-icon"> </a>
    </div>
    <!-- //logo end -->


    <div class="sidebar-menu-inner">

     <!-- sidebar nav start -->
     <ul class="nav nav-pills nav-stacked custom-nav">
      <!-- <li class="active"><a href="index.html"><i class="fa fa-tachometer"></i><span> Dashboard</span></a>
      </li>
      <li class="menu-list">
        <a href="#"><i class="fas fa-briefcase"></i>
          <span>Business <i class="fas fa-chevron-down"></i></span></a>
        <ul class="sub-menu-list">
          <li><a href="carousels.html">Leads</a> </li>
          <li><a href="cards.html">Appointments</a> </li>
          <li><a href="#">Visits <i class="fas fa-chevron-down"></i></a></li>
    <li><a href="#">Prescription</a> </li>
    <li><a href="#">Procedure</a> </li>
    <li><a href="#">Conversion</a> </li>
    <li><a href="#">Revenue</a> </li>
    <li><a href="#">Collection</a> </li>
        </ul>
      </li> -->
  
  <li class="menu-list">
        <a href="#"><i class="fas fa-stethoscope"></i>
          <span>Clinical <i class="fas fa-chevron-down"></i></span></a>
          <ul class="sub-menu-list scrollmenu">
            <li><a href="/clinic/7">Department</a></li>
            <li><a href="/clinic/25">Cluster</a></li>
            <li><a href="/clinic/40">Clinic</a></li>
            <li><a href="/clinic/13">Designation</a></li>
            <li><a href="/clinic/41">Employee</a></li>
            <li><a href="/clinic/28">Specialization</a></li>
            <li><a href="/clinic/29">Sub-Specialization</a></li>
            <li><a href="/clinic/19">Primary Symptoms</a></li>
            <li><a href="/clinic/5">Classification</a></li>
            <li><a href="/clinic/12">Doctor</a></li>
            <li><a href="/clinic/30">Bank Master</a></li>
            <li><a href="/clinic/32">Bank Branch Master</a></li>
            <li><a href="/clinic/34">Country Master</a></li>
            <li><a href="/clinic/36">State Master</a></li>
            <li><a href="/clinic/3">City Master</a></li>
            <li><a href="/clinic/21">Region Master</a></li>
            <li><a href="/clinic/17">EMR Field Values</a></li>
            <li><a href="/clinic/37">Cash Counter Master</a></li>
            <li><a href="/clinic/15">EMR Chief Complaints</a></li>
            <li><a href="/clinic/10">Doctor Category Master</a></li>
            
          </ul>
      </li>
<!-- 		
  <li class="menu-list">
        <a href="#"><i class="fas fa-star-of-life"></i>
          <span>Embrology <i class="fas fa-chevron-down"></i></span></a>
      </li>
  
  <li class="menu-list">
        <a href="#"><i class="fas fa-calculator"></i>
          <span>Purchase & Accounts <i class="fas fa-chevron-down"></i></span></a>
      </li> -->
    </ul>
    <!-- //sidebar nav end -->
    <!-- toggle button start -->
    <a class="toggle-btn">
      <i class="fa fa-angle-double-left menu-collapsed__left"><span>Collapse Sidebar</span></i>
      <i class="fa fa-angle-double-right menu-collapsed__right"></i>
    </a>
    <!-- //toggle button end -->
  </div>
</div>
  <!-- //sidebar menu end -->
  <!-- header-starts -->
  <div class="header sticky-header">

    <!-- notification menu start -->
    <div class="menu-right">
      <div class="navbar user-panel-top">
        <div class="search-box">
          <form action="#search-results.html" method="get">
            <input class="search-input" placeholder="Search Here..." type="search" id="search">
            <button class="search-submit" value=""><span class="fa fa-search"></span></button>
          </form>
        </div>
        <div class="user-dropdown-details d-flex">
          <div class="profile_details_left">
            <ul class="nofitications-dropdown">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i
                    class="fa fa-bell-o"></i><span class="badge blue">3</span></a>
                <ul class="dropdown-menu">
                  <li>
                    <div class="notification_header">
                      <h3>You have 3 new notifications</h3>
                    </div>
                  </li>
                  <li><a href="#" class="grid">
                      <div class="user_img"></div>
                      <div class="notification_desc">
                        <p>Johnson purchased template</p>
                        <span>Just Now</span>
                      </div>
                    </a></li>
                  <li class="odd"><a href="#" class="grid">
                      <div class="user_img"></div>
                      <div class="notification_desc">
                        <p>New customer registered </p>
                        <span>1 hour ago</span>
                      </div>
                    </a></li>
                  <li><a href="#" class="grid">
                      <div class="user_img"></div>
                      <div class="notification_desc">
                        <p>Lorem ipsum dolor sit amet </p>
                        <span>2 hours ago</span>
                      </div>
                    </a></li>
                  <li>
                    <div class="notification_bottom">
                      <a href="#all" class="bg-primary">See all notifications</a>
                    </div>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="profile_details">
            <ul>
              <li class="dropdown profile_details_drop">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="dropdownMenu3" aria-haspopup="true"
                  aria-expanded="false">
                  <div class="profile_img">
                    <img src="../images/profileimg.jpg" class="rounded-circle" alt="" />
                    <div class="user-active">
                      <span></span>
                    </div>
                  </div>
                </a>
                <ul class="dropdown-menu drp-mnu" aria-labelledby="dropdownMenu3">
                  <li class="user-info">
                    <h5 class="user-name">John Deo</h5>
                    <span class="status ml-2">Available</span>
                  </li>
                  <li> <a href="#"><i class="lnr lnr-user"></i>My Profile</a> </li>
                  <li> <a href="#"><i class="lnr lnr-users"></i>1k Followers</a> </li>
                  <li> <a href="#"><i class="lnr lnr-cog"></i>Setting</a> </li>
                  <li> <a href="#"><i class="lnr lnr-heart"></i>100 Likes</a> </li>
                  <li class="logout"> <a href="#sign-up.html"><i class="fa fa-power-off"></i> Logout</a> </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!--notification menu end -->
  </div>
  <!-- //header-ends -->
  <!-- main content start -->
<div class="main-content">
  
  <div class="row content-top-gap2 mb-2">
 <div class="col-lg-12">
   	<nav class="navbar navbar-expand-lg navbar-light bg-white">
	<a class="navbar-brand text-center mr-5" href="#">
	<span class="dash-icon"><i class="fas fa-tachometer-alt"></i></span>
	Dashboard
	</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
	<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarNav">
	<ul class="navbar-nav">
	  <li class="nav-item active text-center mr-5">
		<a class="nav-link" href="#">
		<span class="dash-icon"><i class="far fa-user"></i></span>
	    Master
		</a>
	  </li>
	  <li class="nav-item text-center mr-5">
		<a class="nav-link" href="#">
		<span class="dash-icon"><i class="fas fa-exchange-alt"></i></span>
	    Transaction
		</a>
	  </li>
	  <li class="nav-item text-center mr-5">
		<a class="nav-link" href="#">
		<span class="dash-icon"><i class="fas fa-hand-holding-medical"></i></span>
	    Patient 360
		</a>
	  </li>
	  <li class="nav-item text-center mr-5">
		<a class="nav-link" href="#">
		<span class="dash-icon"><i class="fas fa-receipt"></i></span>
	    Outside Reciept
		</a>
	  </li>
	  <li class="nav-item text-center mr-5">
		<a class="nav-link" href="#">
		<span class="dash-icon"><i class="fas fa-file-invoice"></i></span>
	    Outpatient Department
		</a>
	  </li>
	  <li class="nav-item text-center mr-5">
		<a class="nav-link" href="#">
		<span class="dash-icon"><i class="fas fa-chart-line"></i></span>
	    Analytics
		</a>
	  </li>
	  <li class="nav-item text-center mr-5">
		<a class="nav-link" href="#">
		<span class="dash-icon"><i class="far fa-clock"></i></span>
	    Waiting List
		</a>
	  </li>
	  <li class="nav-item text-center mr-5">
		<a class="nav-link" href="#">
		<span class="dash-icon"><i class="fas fa-wrench"></i></span>
	    Adminstration
		</a>
	  </li>
	  <li class="nav-item text-center">
		<a class="nav-link" href="#">
		<span class="dash-icon"><i class="fas fa-spinner"></i></span>
	    Additional
		</a>
	  </li>

	</ul>
	</div>
	</nav>
  </div>
 </div>
 
  <!-- content -->
  <div class="container-fluid">

    <!--nav aria-label="breadcrumb">
      <ol class="breadcrumb my-breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
      </ol>
    </nav>
    <div class="welcome-msg pt-3 pb-4">
      <h1>Hi <span class="text-primary">John</span>, Welcome back</h1>
      <p>Very detailed & featured admin.</p>
    </div-->

    <!-- statistics data -->
    <div class="statistics pl-xl-2">
      <div class="row">
        <div class="col-xl-6 pr-xl-2">
          <div class="row">
		    <div class="col-sm-6 pl-sm-2 statistics-grid">
              <div class="card card_border border-primary-top p-4">
                <i class="fas fa-list-ul icon-dash"></i>
                <h3 class="number"><%= leads %></h3>
                <p class="stat-text">Leads</p>
				<!-- <p class="dash-bottom-line"><span class="green">&uarr;3.75%</span> since last year</p> -->
              </div>
             </div>
			
            <div class="col-sm-6 pl-sm-2 statistics-grid">
              <div class="card card_border border-primary-top p-4">
                <i class="fas fa-clipboard-list icon-dash"></i>
                <h3 class="number"><%=apt  %></h3>
                <p class="stat-text">Appointments</p>
				<!-- <p class="dash-bottom-line"><span class="red">&darr;2.75%</span> since last year</p> -->
              </div>
             </div>
            
          </div>
        </div>
        <div class="col-xl-6 pl-xl-2">
          <div class="row">
            <div class="col-sm-6 pl-sm-2 statistics-grid">
              <div class="card card_border border-primary-top p-4">
                <i class="fas fa-walking icon-dash"></i>
                <h3 class="number"><%= visits  %></h3>
                <p class="stat-text">Visits</p>
				<!-- <p class="dash-bottom-line"><span class="red">&darr;1.75%</span> since last year</p> -->
              </div>
             </div>
            <div class="col-sm-6 pl-sm-2 statistics-grid">
              <div class="card card_border border-primary-top p-4">
                <i class="fas fa-check-double icon-dash"></i>
                <h3 class="number"><%=conv  %></h3>
                <p class="stat-text">Conversion</p>
				<!-- <p class="dash-bottom-line"><span class="green">&uarr;3.75%</span> since last year</p> -->
              </div>
             </div>
          </div>
        </div>
      </div>
    </div>
    <!-- //statistics data -->

    <!-- charts -->
    <div class="chart">
      <div class="row">
        <div class="col-lg-6 pr-lg-2 chart-grid">
          <div class="card card_border">
            <div class="card-header chart-grid__header alert-link">
              Areas
            </div>
            <div class="row">
              <% areas.forEach(area => { %>
                <div class="col-sm-4 pl-sm-4 mt-3 area">
                  <h6><%= area.clinic_area %></h6>
                  <h3 class="alert-link"><%= area.areasaptcount%></h3>
                </div>
              <% }) %>
            </div>
            
          </div>
        </div>
        <div class="col-lg-6 pl-lg-2 chart-grid">
          <div class="card card_border">
            <div class="card-header chart-grid__header alert-link">
              Areas
            </div>
            <div class="card-body">
              <!-- line chart -->
              <div id="container">
                <canvas id="programmingLanguagesPieChart"></canvas>
              </div>
              <!-- //line chart -->
            </div>
            
            <!-- div class="card-footer text-muted chart-grid__footer">
              Updated just now
            </div-->
          </div>
        </div>
      </div>
    </div>
    <!-- //charts -->

	<section class="pricing">
	<div class="card card_border mb-5">
	    <div class="col-lg-12 chart-grid">
        <div class="row">
          <div class="card-header chart-grid__header alert-link">
            Areas
          </div>
      
          <table class="table">
            <thead>
              <tr>
                <th>Month</th>
                <% areas.forEach(area => { %>
                  <th><%= area.clinic_area %></th>
                <% }) %>
              </tr>
            </thead>
            <tbody>
              <% const months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']; %>
              <% areas[0].appointmentCounts.forEach(({ monthYear }) => { %>
                <tr>
                  <% const monthIndex = parseInt(monthYear.split('-')[1]) - 1; %>
                  <td><%= months[monthIndex] %> <%= new Date().getFullYear() %></td>
                  <% areas.forEach(area => { %>
                    <td><%= area.appointmentCounts.find(count => count.monthYear === monthYear).count %></td>
                  <% }) %>
                </tr>
              <% }) %>
            </tbody>
          </table>
        </div>
     </div>
	 </div>
    </section>	 
	
	
	 <div class="chart">
      <div class="row">
	    <div class="col-lg-12 pl-xl-3 chart-grid">
          <div class="card card_border">
            <div class="card-header chart-grid__header alert-link">
              Areas
            </div>
            <div class="card-body">
              <!-- line chart -->
              <div id="container">
                <canvas id="linechart"></canvas>
              </div>
              <!-- //line chart -->
            </div>
            <div class="card-footer text-muted chart-grid__footer">
              Updated just now
            </div>
          </div>
        </div>
		
		<div class="col-lg-12 chart-grid pl-xl-3">
		<div class="row">
        <div class="col-lg-12 pr-lg-12 chart-grid">
          <div class="card card_border">
            <div class="card-header chart-grid__header  alert-link">
              Areas
            </div>
            <div class="card-body">
              <!-- bar chart -->
              <div id="container">
                <canvas id="barchart"></canvas>
              </div>
              <!-- //bar chart -->
            </div>
            <div class="card-footer text-muted chart-grid__footer">
              Updated 2 hours ago
            </div>
          </div>
        </div>
	  </div>
		
		
		</div>
		</div>
    <script src="../javascripts/randomColor.js"></script>
    <script>
      document.addEventListener("DOMContentLoaded", function() {
        const areas = JSON.parse('<%- JSON.stringify(areas) %>');
        const labels = areas.map(area => area.clinic_area);
        const data = areas.map(area => area.appointmentCounts.reduce((a, b) => a + b.count, 0)); // Total appointments per area
  
        const languagesData = { 
          labels: labels,
          datasets: [{ 
            data: data, 
            backgroundColor: ['#4ac2b7', '#fac10c', '#fba119', '#f9655e', '#2196f3', '#8585ff'], 
          }], 
        }; 
  
        const config = { 
          type: 'doughnut', 
          data: languagesData, 
          options: { 
            aspectRatio: 3.75,
            legend: {
              display: true,
              position: 'right'
            }, 
          }, 
        }; 
  
        const ctx = document.getElementById('programmingLanguagesPieChart').getContext('2d'); 
        new Chart(ctx, config);
      });
    </script>

<%- include('footer'); -%>