<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>LifeLinker</title>
<%- include('header') -%>
  <!-- main content start -->
<div class="main-content">
  
  <div class="row content-top-gap2 mb-2">
 <div class="col-lg-12">
   	<nav class="navbar navbar-expand-lg navbar-light bg-white">
	<a class="navbar-brand text-center mr-5" href="#">
	<span class="dash-icon"><i class="fas fa-tachometer-alt"></i></span>
	Dashboard
	</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
	<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarNav">
	<ul class="navbar-nav">
	  <li class="nav-item active text-center mr-5">
		<a class="nav-link" href="#">
		<span class="dash-icon"><i class="far fa-user"></i></span>
	    Master
		</a>
	  </li>
	  <li class="nav-item text-center mr-5">
		<a class="nav-link" href="#">
		<span class="dash-icon"><i class="fas fa-exchange-alt"></i></span>
	    Transaction
		</a>
	  </li>
	  <li class="nav-item text-center mr-5">
		<a class="nav-link" href="#">
		<span class="dash-icon"><i class="fas fa-hand-holding-medical"></i></span>
	    Patient 360
		</a>
	  </li>
	  <li class="nav-item text-center mr-5">
		<a class="nav-link" href="#">
		<span class="dash-icon"><i class="fas fa-receipt"></i></span>
	    Outside Reciept
		</a>
	  </li>
	  <li class="nav-item text-center mr-5">
		<a class="nav-link" href="#">
		<span class="dash-icon"><i class="fas fa-file-invoice"></i></span>
	    Outpatient Department
		</a>
	  </li>
	  <li class="nav-item text-center mr-5">
		<a class="nav-link" href="#">
		<span class="dash-icon"><i class="fas fa-chart-line"></i></span>
	    Analytics
		</a>
	  </li>
	  <li class="nav-item text-center mr-5">
		<a class="nav-link" href="#">
		<span class="dash-icon"><i class="far fa-clock"></i></span>
	    Waiting List
		</a>
	  </li>
	  <li class="nav-item text-center mr-5">
		<a class="nav-link" href="#">
		<span class="dash-icon"><i class="fas fa-wrench"></i></span>
	    Adminstration
		</a>
	  </li>
	  <li class="nav-item text-center">
		<a class="nav-link" href="#">
		<span class="dash-icon"><i class="fas fa-spinner"></i></span>
	    Additional
		</a>
	  </li>

	</ul>
	</div>
	</nav>
  </div>
 </div>
 
  <!-- content -->
  <div class="container-fluid">

    <!--nav aria-label="breadcrumb">
      <ol class="breadcrumb my-breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
      </ol>
    </nav>
    <div class="welcome-msg pt-3 pb-4">
      <h1>Hi <span class="text-primary">John</span>, Welcome back</h1>
      <p>Very detailed & featured admin.</p>
    </div-->

    <!-- statistics data -->
    <div class="statistics pl-xl-2">
      <div class="row">
        <div class="col-xl-6 pr-xl-2">
          <div class="row">
		    <div class="col-sm-6 pl-sm-2 statistics-grid">
              <div class="card card_border border-primary-top p-4">
                <i class="fas fa-list-ul icon-dash"></i>
                <h3 class="number"><%= leads %></h3>
                <p class="stat-text">Leads</p>
				<!-- <p class="dash-bottom-line"><span class="green">&uarr;3.75%</span> since last year</p> -->
              </div>
             </div>
			
            <div class="col-sm-6 pl-sm-2 statistics-grid">
              <div class="card card_border border-primary-top p-4">
                <i class="fas fa-clipboard-list icon-dash"></i>
                <h3 class="number"><%=apt  %></h3>
                <p class="stat-text">Appointments</p>
				<!-- <p class="dash-bottom-line"><span class="red">&darr;2.75%</span> since last year</p> -->
              </div>
             </div>
            
          </div>
        </div>
        <div class="col-xl-6 pl-xl-2">
          <div class="row">
            <div class="col-sm-6 pl-sm-2 statistics-grid">
              <div class="card card_border border-primary-top p-4">
                <i class="fas fa-walking icon-dash"></i>
                <h3 class="number"><%= visits  %></h3>
                <p class="stat-text">Visits</p>
				<!-- <p class="dash-bottom-line"><span class="red">&darr;1.75%</span> since last year</p> -->
              </div>
             </div>
            <div class="col-sm-6 pl-sm-2 statistics-grid">
              <div class="card card_border border-primary-top p-4">
                <i class="fas fa-check-double icon-dash"></i>
                <h3 class="number"><%=conv  %></h3>
                <p class="stat-text">Conversion</p>
				<!-- <p class="dash-bottom-line"><span class="green">&uarr;3.75%</span> since last year</p> -->
              </div>
             </div>
          </div>
        </div>
      </div>
    </div>
    <!-- //statistics data -->

    <!-- charts -->
    <div class="chart">
      <div class="row">
        <div class="col-lg-6 pr-lg-2 chart-grid">
          <div class="card card_border">
            <div class="card-header chart-grid__header alert-link">
              Areas
            </div>
            <div class="row">
              <% areas.forEach(area => { %>
                <div class="col-sm-4 pl-sm-4 mt-3 area">
                  <h6><%= area.clinic_area %></h6>
                  <h3 class="alert-link"><%= area.areasaptcount%></h3>
                </div>
              <% }) %>
            </div>
            
          </div>
        </div>
        <div class="col-lg-6 pl-lg-2 chart-grid">
          <div class="card card_border">
            <div class="card-header chart-grid__header alert-link">
              Areas
            </div>
            <div class="card-body">
              <!-- line chart -->
              <div id="container">
                <canvas id="programmingLanguagesPieChart"></canvas>
              </div>
              <!-- //line chart -->
            </div>
            
            <!-- div class="card-footer text-muted chart-grid__footer">
              Updated just now
            </div-->
          </div>
        </div>
      </div>
    </div>
    <!-- //charts -->

	<section class="pricing">
	<div class="card card_border mb-5">
	    <div class="col-lg-12 chart-grid">
        <div class="row">
          <div class="card-header chart-grid__header alert-link">
            Areas
          </div>
      
          <table class="table">
            <thead>
              <tr>
                <th>Month</th>
                <% areas.forEach(area => { %>
                  <th><%= area.clinic_area %></th>
                <% }) %>
              </tr>
            </thead>
            <tbody>
              <% const months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']; %>
              <% areas[0].appointmentCounts.forEach(({ monthYear }) => { %>
                <tr>
                  <% const monthIndex = parseInt(monthYear.split('-')[1]) - 1; %>
                  <td><%= months[monthIndex] %> <%= new Date().getFullYear() %></td>
                  <% areas.forEach(area => { %>
                    <td><%= area.appointmentCounts.find(count => count.monthYear === monthYear).count %></td>
                  <% }) %>
                </tr>
              <% }) %>
            </tbody>
          </table>
        </div>
     </div>
	 </div>
    </section>	 
	
	
	 <div class="chart">
      <div class="row">
	    <div class="col-lg-12 pl-xl-3 chart-grid">
          <div class="card card_border">
            <div class="card-header chart-grid__header alert-link">
              Areas
            </div>
            <div class="card-body">
              <!-- line chart -->
              <div id="container">
                <canvas id="linechart"></canvas>
              </div>
              <!-- //line chart -->
            </div>
            <div class="card-footer text-muted chart-grid__footer">
              Updated just now
            </div>
          </div>
        </div>
		
		<div class="col-lg-12 chart-grid pl-xl-3">
		<div class="row">
        <div class="col-lg-12 pr-lg-12 chart-grid">
          <div class="card card_border">
            <div class="card-header chart-grid__header  alert-link">
              Areas
            </div>
            <div class="card-body">
              <!-- bar chart -->
              <div id="container">
                <canvas id="barchart"></canvas>
              </div>
              <!-- //bar chart -->
            </div>
            <div class="card-footer text-muted chart-grid__footer">
              Updated 2 hours ago
            </div>
          </div>
        </div>
	  </div>
		
		
		</div>
		</div>
    <script src="../javascripts/randomColor.js"></script>
    <script>
      document.addEventListener("DOMContentLoaded", function() {
        const areas = JSON.parse('<%- JSON.stringify(areas) %>');
        const labels = areas.map(area => area.clinic_area);
        const data = areas.map(area => area.appointmentCounts.reduce((a, b) => a + b.count, 0)); // Total appointments per area
  
        const languagesData = { 
          labels: labels,
          datasets: [{ 
            data: data, 
            backgroundColor: ['#4ac2b7', '#fac10c', '#fba119', '#f9655e', '#2196f3', '#8585ff'], 
          }], 
        }; 
  
        const config = { 
          type: 'doughnut', 
          data: languagesData, 
          options: { 
            aspectRatio: 3.75,
            legend: {
              display: true,
              position: 'right'
            }, 
          }, 
        }; 
  
        const ctx = document.getElementById('programmingLanguagesPieChart').getContext('2d'); 
        new Chart(ctx, config);
      });
    </script>

<%- include('footer'); -%>