<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>LifeLinkr</title>

    <!-- Template CSS -->


    <%- include('../header') %>
        <!-- //header-ends -->
        <!-- main content start -->
        <div class="main-content">

            <div class="row content-top-gap2">
                <div class="col-lg-12">
                    <nav class="navbar navbar-expand-lg navbar-light bg-white">
                        <a class="navbar-brand text-center mr-5" href="#">
                            <span class="dash-icon"><i class="fas fa-tachometer-alt"></i></span>
                            Dashboard
                        </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav">
                                <li class="nav-item active text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="far fa-user"></i></span>
                                        Master
                                    </a>
                                </li>
                                <li class="nav-item text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="fas fa-exchange-alt"></i></span>
                                        Transaction
                                    </a>
                                </li>
                                <li class="nav-item text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="fas fa-hand-holding-medical"></i></span>
                                        Patient 360
                                    </a>
                                </li>
                                <li class="nav-item text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="fas fa-receipt"></i></span>
                                        Outside Reciept
                                    </a>
                                </li>
                                <li class="nav-item text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="fas fa-file-invoice"></i></span>
                                        Outpatient Department
                                    </a>
                                </li>
                                <li class="nav-item text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="fas fa-chart-line"></i></span>
                                        Analytics
                                    </a>
                                </li>
                                <li class="nav-item text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="far fa-clock"></i></span>
                                        Waiting List
                                    </a>
                                </li>
                                <li class="nav-item text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="fas fa-wrench"></i></span>
                                        Adminstration
                                    </a>
                                </li>
                                <li class="nav-item text-center">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="fas fa-spinner"></i></span>
                                        Additional
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
            <!-- content -->
            <div class="container-fluid">

                <div class="chart">
                    <div class="row">

                        <div class="col-lg-12 pl-lg-0 mt-2 ml-2">
                            <h4 class="primary">Patient Detail : <%= patient.prefix %>
                                    <%= patient.firstName %>
                            </h4>
                        </div>

                        <div class="col-lg-12 pl-lg-2 chart-grid">
                            <div id="errordiv1"></div>
                            <form id="patVisit" method="post">
                                <div class="card card_border">
                                    <div class="">
                                        <!--Past your code here starts-->

                                        <div class="card">

                                            <!-- <div class="mb-2">
                                                <div class="form-group">
                                                    <div class="col-xl-12 p-heading">
                                                        <h6 class="p-text">LIST OF USER</h6>
                                                    </div>
                                                </div>
                                            </div> -->

                                            <div class="card-body pb-2 pt-2">




                                                <div class="form-row">


                                                    <div class="col-lg-3 col-md-4 col-sm-12 mb-2">

                                                        <div class="form-group">
                                                            <label class="input__label">Mr No.</label>
                                                            <input name="mrNo" type="text" disabled
                                                                value="<%= patient.mr_no %>"
                                                                class="form-control input-style" placeholder="">
                                                        </div>

                                                    </div>
                                                    <div class="col-lg-3 col-md-4 col-sm-12 mb-2">

                                                        <div class="form-group">
                                                            <label class="input__label">Unit</label>
                                                            <input name="unit" type="text" disabled
                                                                class="form-control input-style" placeholder="">
                                                        </div>

                                                    </div>
                                                    <div class="col-lg-3 col-md-4 col-sm-12 mb-2">

                                                        <div class="form-group">
                                                            <label class="input__label">Date</label>
                                                            <input name="date" type="date" value="<%= currentDate %>"
                                                                disabled data-validation="required"
                                                                data-error-message="Date is Required"
                                                                class="form-control input-style" placeholder="">
                                                        </div>

                                                    </div>
                                                    <div class="col-lg-3 col-md-4 col-sm-12 mb-2">

                                                        <div class="form-group">
                                                            <label class="input__label">Time</label>
                                                            <input name="time" type="time" value="<%= currentTime %>"
                                                                disabled data-validation="required"
                                                                data-error-message="Time is Required"
                                                                class="form-control input-style" placeholder="">
                                                        </div>

                                                    </div>

                                                    <div class="col-lg-3 col-md-4 col-sm-12 mb-2">

                                                        <div class="form-group">
                                                            <label class="input__label">Reason of Visit</label>
                                                            <select name="reasonOfVisit" data-validation="required"
                                                                data-error-message="Reason of Visit is  Required"
                                                                class="form-control input-style">
                                                                <option value="">Select</option>
                                                                <option value="Consultation">Consultation</option>
                                                            </select>
                                                        </div>

                                                    </div>
                                                    <div class="col-lg-3 col-md-4 col-sm-12 mb-2">

                                                        <div class="form-group">
                                                            <label class="input__label">Department </label>
                                                            <select name="department" data-validation="required"
                                                                data-error-message="Department is Required"
                                                                class="form-control input-style">
                                                                <option value="">Select</option>
                                                            </select>
                                                        </div>

                                                    </div>
                                                    <div class="col-lg-3 col-md-4 col-sm-12 mb-2">

                                                        <div class="form-group">
                                                            <label class="input__label">Doctor</label>
                                                            <select name="doctor" data-validation="required"
                                                                data-error-message="Doctor is Required"
                                                                class="form-control input-style">
                                                                <option value="">Select</option>
                                                            </select>
                                                        </div>

                                                    </div>
                                                    <div class="col-lg-3 col-md-4 col-sm-12 mb-2">

                                                        <div class="form-group">
                                                            <label class="input__label">Cabin</label>
                                                            <input name="cabin" id="cabin" type="text"
                                                                data-validation="required"
                                                                data-error-message="Cabin is Required"
                                                                class="form-control input-style">

                                                        </div>

                                                    </div>
                                                    <div class="col-lg-3 col-md-4 col-sm-12 mb-2">

                                                        <div class="form-group">
                                                            <label class="input__label">Reference Doctor</label>
                                                            <input name="refernceDoctor" id="refernceDoctor" type="text"
                                                                data-validation="required"
                                                                data-error-message="RefernceDoctor is Required"
                                                                class="form-control input-style">
                                                        </div>

                                                    </div>


                                                    <div class="col-lg-3 col-md-4 col-sm-12 mb-2">

                                                        <div class="form-group">
                                                            <label class="input__label">Remarks</label>
                                                            <textarea name="remarks" class="form-control input-style"
                                                                data-validation="required"
                                                                data-error-message="Remarks is Required"
                                                                placeholder=""></textarea>
                                                        </div>

                                                    </div>
                                                    <div class="col-lg-3 col-md-4 col-sm-12 mb-2">

                                                        <div class="form-group">
                                                            <label class="input__label">Visit Notes</label>
                                                            <textarea name="visitNotes" class="form-control input-style"
                                                                data-validation="required"
                                                                data-error-message="Visit Notes is Required"
                                                                placeholder=""></textarea>
                                                        </div>

                                                    </div>
                                                    <div class="col-lg-3 col-md-4 col-sm-12 text-left">
                                                        <div class="form-group">
                                                            <button type="button"  data-bs-toggle="modal" data-bs-target="#myModal"
                                                                class="btn btn-style mt-4 btn-primary btn-style btn-change">
                                                                <strong><i class="fas fa-search"></i> Search</strong>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- <div class="form-row">
                                                    <div class="col-12">
                                                        <div class="form-group">
                                                            <div class="col col-12 mb-3 mt-3 pr-lg-0 pl-lg-0 ">
                                                                <div class="slidx">

                                                                    <table class="table2">

                                                                        <thead>

                                                                            <tr>


                                                                                <th contenteditable="true">Date</th>
                                                                                <th contenteditable="true">Time</th>
                                                                                <th contenteditable="true">Visit Type
                                                                                </th>
                                                                                <th contenteditable="true">Doctor Name
                                                                                </th>
                                                                                <th contenteditable="true">Department
                                                                                </th>
                                                                                <th contenteditable="true">Clinic</th>
                                                                                <th contenteditable="true">Balance</th>



                                                                            </tr>

                                                                        </thead>

                                                                        <tbody id="visits">


                                                                        </tbody>

                                                                    </table>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div> -->
                                            </div>
                                        </div>
                                        <!--Past your code here ends-->
                                    </div>

                                </div>







                                <div class="form-group mb-3 text-right">




                                    <button type="button" class="btn-danger btn-style btn mt-3 mr-2"><strong><i
                                                class="fas fa-times"></i> Close</strong></button>

                                    <button type="button" class="btn-primary btn-style btn mt-3 mr-2"><strong><i
                                                class="far fa-save"></i>
                                            Save & Bill</strong></button>

                                    <button type="submit" class="btn-primary btn-style btn mt-3"><strong><i
                                                class="far fa-save"></i>
                                            Save</strong></button>
                                </div>


                            </form>
                            <div id="loadingIndicator"></div>
                        </div>
                        <!--footer section start-->
                        <%- include('../footer') %>

                        <div class="modal" id="myModal">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <!-- Modal Header -->
                                    <div class="modal-header">
                                        <a href="#" class="btn-close" data-bs-dismiss="modal"><i
                                                class="fa-solid fa-circle-xmark"></i></a>
                                    </div>

                                    <!-- Modal body -->
                                    <div class="modal-body">
                                        <div class="form-row">
                                            <div class="col-lg-12 pl-lg-2 mt-3 chart-grid">
                                                <form>
                                                    <div class="card card_border">
                                                        <div class="">
                                                            <!--Past your code here starts-->
                    
                                                            <div class="card">
                    
                                                                <div>
                                                                    <div class="form-group">
                                                                        <div class="col-xl-12 p-heading">
                                                                            <h6 class="p-text">SEARCH PRIMARY SYMPTOMS</h6>
                                                                        </div>
                                                                    </div>
                                                                </div>
                    
                                                                <div class="card-body pb-2 pt-1">
                    
                                                                    
                    
                    
                                                                    <div class="form-row">
                    
                                                                        
                                                                        <div class="col-lg-5 col-md-4 col-sm-12 mb-2">
                    
                                                                            <div class="form-group">
                                                                                <label class="input__label">Search Symptoms</label>
                                                                                <input name="" type="text" id="searchBox"
                                                                                    class="form-control input-style" placeholder="">
                                                                            </div>
                    
                                                                        </div>
                                                                        
                    
                    
                                                                        
                                                                        
                    
                                                                    </div>
                    
                    
                                                                    <div class="form-row">
                                                                        <div class="col-12">
                                                                            <div class="form-group">
                                                                                <div class="col col-12 mb-3 mt-2 pr-lg-0 pl-lg-0 ">
                                                                                    <div class="slidx">
                            
                                                                                        <table class="table2" id="symptomsList">
                            
                                                                                            <thead>
                            
                                                                                                <tr>
                            
                                                                                                    
                                                                                                    <th contenteditable="true" width="20%">Select</th>
                                                                                                    <th contenteditable="true">Symptom</th>
                                                                                                    
                                                                                                    
                                                                                                    
                            
                                                                                                </tr>
                            
                                                                                            </thead>
                            
                                                                                            <tbody id="symptomList">
                                                                                                <tr>
                                                                                                    <td contenteditable="true"><input class="form-check-input mt-1" type="checkbox" id="symptom-0" name="symptomCheckbox"></td>
                                                                                                    <td contenteditable="true">Fever</td>
                                                                                                </tr>
                                                                                                <tr>
                                                                                                    <td contenteditable="true"><input class="form-check-input mt-1" type="checkbox" id="symptom-1" name="symptomCheckbox"></td>
                                                                                                    <td contenteditable="true">Cough</td>
                                                                                                </tr>
                                                                                                <tr>
                                                                                                    <td contenteditable="true"><input class="form-check-input mt-1" type="checkbox" id="symptom-2" name="symptomCheckbox"></td>
                                                                                                    <td contenteditable="true">Vomiting</td>
                                                                                                </tr>
                                                                                               
                                                                                                <tr>
                                                                                                    <td contenteditable="true"><input class="form-check-input mt-1" type="checkbox" id="symptom-4" name="symptomCheckbox"></td>
                                                                                                    <td contenteditable="true">Pain</td>
                                                                                                </tr>
                                                                                               
                                                                                                <tr>
                                                                                                    <td contenteditable="true"><input class="form-check-input mt-1" type="checkbox" id="symptom-6" name="symptomCheckbox"></td>
                                                                                                    <td contenteditable="true">Burning</td>
                                                                                                </tr>
                                                                                                <tr>
                                                                                                    <td contenteditable="true"><input class="form-check-input mt-1" type="checkbox" id="symptom-7" name="symptomCheckbox"></td>
                                                                                                    <td contenteditable="true">Weight Loss</td>
                                                                                                </tr>
                                                                                                <tr>
                                                                                                    <td contenteditable="true"><input class="form-check-input mt-1" type="checkbox" id="symptom-8" name="symptomCheckbox"></td>
                                                                                                    <td contenteditable="true">Weakness</td>
                                                                                                </tr>
                                                                                                <tr>
                                                                                                    <td contenteditable="true"><input class="form-check-input mt-1" type="checkbox" id="symptom-9" name="symptomCheckbox"></td>
                                                                                                    <td contenteditable="true">Allergies</td>
                                                                                                </tr>
                                                                                                <tr>
                                                                                                    <td contenteditable="true"><input class="form-check-input mt-1" type="checkbox" id="symptom-10" name="symptomCheckbox"></td>
                                                                                                    <td contenteditable="true">Infection</td>
                                                                                                </tr>
                                                                                                <tr>
                                                                                                    <td contenteditable="true"><input class="form-check-input mt-1" type="checkbox" id="symptom-11" name="symptomCheckbox"></td>
                                                                                                    <td contenteditable="true">Headache Regularly</td>
                                                                                                </tr>
                                                                                                <tr>
                                                                                                    <td contenteditable="true"><input class="form-check-input mt-1" type="checkbox" id="symptom-12" name="symptomCheckbox"></td>
                                                                                                    <td contenteditable="true">More Fats</td>
                                                                                                </tr>
                                                                                            </tbody>
                                                                                            
                                                                                        </table>
                                                                                    </div>
                                                                                    <div id="paginationControls"></div>
                            
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                    
                    
                    
                                                                   
                    
                    
                    
                                                                </div>
                                                            </div>
                                                            <!--Past your code here ends-->
                                                        </div>
                    
                                                    </div>
                    
                    
                                                    
                    
                    
                                                    
                    
                                                    <div class="form-group mb-3 text-right">
                    
                    
                                                        
                        
                                                <button type="button" class="btn-danger btn-style btn mt-3 mr-2" data-bs-dismiss="modal"><strong><i
                                                            class="fas fa-times"></i> Cancel</strong></button>
                        
                                                
                    
                                                <button type="button" class="btn-primary btn-style btn mt-3" id="okButton"><strong><i class="fas fa-check"></i>
                                                        OK</strong></button>
                                                    </div>
                    
                                                    
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                              
                        </div>




                        
                            <script type="module">
                                  import { validateForm } from '../javascripts/validation.js';
                                  import { myAjax } from '../javascripts/myAjax.js';
                                  import {pagi_search} from '../javascripts/pagi_search.js'
                                $(document).ready(function () {

                                    pagi_search('#searchBox', '#symptomsList', '#paginationControls');
                                    const clinicId = '<%= patient.clinic_id %>'; // Corrected syntax to retrieve clinic_id from EJS


                                    const mrNo = '<%= patient.mr_no %>';  // Get mr_no from the server-side rendering context

                                    // Function to fetch and display patient visits for a specific mr_no
                                    function fetchAndDisplayVisits() {
                                        $.getJSON(`/findpatient/patientVisits?mr_no=${mrNo}`, function (visits) {
                                            const visitsTbody = $('#visits');
                                            visitsTbody.empty(); // Clear the tbody

                                            visits.forEach(function (visit) {
                                                visitsTbody.append(
                                                    `<tr>
                        <td contenteditable="true">${visit.date}</td>
                        <td contenteditable="true">${visit.time}</td>
                        <td contenteditable="true">${visit.reasonOfVisit}</td>
                        <td contenteditable="true">${visit.doctor}</td>
                        <td contenteditable="true">${visit.department}</td>
                        <td contenteditable="true"></td>
                        <td contenteditable="true"></td>
                    </tr>`
                                                );
                                            });
                                        }).fail(function (jqXHR, textStatus, errorThrown) {
                                            console.error('Error fetching patient visits:', textStatus, errorThrown);
                                        });
                                    }

                                    // Fetch and display visits on page load
                                    fetchAndDisplayVisits();

                                    // Function to populate departments
                                    function populateDepartments() {
                                      
                                        $.getJSON(`/findpatient/departments?clinicId=${clinicId}`, function (departments) {
                                            const departmentSelect = $('select[name="department"]');
                                            departmentSelect.empty().append('<option>Select</option>');
                                            departments.forEach(function (department) {
                                                departmentSelect.append(
                                                    `<option value="${department.dept_code}" data-sub-spec="${department.dept_sub_spec}">${department.dept_desc}</option>`
                                                );
                                            });
                                        }).fail(function (jqXHR, textStatus, errorThrown) {
                                            console.error('Error fetching departments:', textStatus, errorThrown);
                                        });
                                    }

                                    // Function to populate doctors based on selected department
                                    function populateDoctors(departmentSubSpec) {
                                        $.getJSON(`/findpatient/doctors?clinicId=${clinicId}&departmentSubSpec=${departmentSubSpec}`, function (doctors) {
                                            const doctorSelect = $('select[name="doctor"]');
                                            doctorSelect.empty().append('<option>Select</option>');
                                            if (doctors.length > 0) {
                                                doctors.forEach(function (doctor) {
                                                    doctorSelect.append(
                                                        `<option value="${doctor.id}">${doctor.doc_name}</option>`
                                                    );
                                                });
                                            } else {
                                                doctorSelect.append('<option>No doctors available</option>');
                                            }
                                        }).fail(function (jqXHR, textStatus, errorThrown) {
                                            console.error('Error fetching doctors:', textStatus, errorThrown);
                                        });
                                    }

                                    // Populate departments on page load


                                    // Event listener for department change
                                    $('select[name="department"]').change(function () {
                                        const selectedOption = $(this).find('option:selected');
                                        const departmentSubSpec = selectedOption.data('sub-spec');
                                        if (departmentSubSpec) {
                                            populateDoctors(departmentSubSpec);
                                        } else {
                                            $('select[name="doctor"]').empty().append('<option>Select</option>');
                                        }
                                    });
                                    populateDepartments();



                                    $('#patVisit').on('submit', function(event) {
    event.preventDefault();

    const { isValid, errorMessage, formData } = validateForm('#patVisit');
    const errorDivId = '#errordiv1';

    if (isValid) {
        const url = '/findpatient/newvisit';
        const loadingDiv = '#loadingIndicator';

        // Use async function to ensure sequential execution
        (async function() {
            try {
                // Wait for the AJAX request to complete
                await myAjax(formData, errorDivId, url, loadingDiv);
                fetchAndDisplayVisits();
                // After AJAX completes, call fetchAndDisplayVisits
               
            } catch (error) {
                console.error('An error occurred:', error);
                $(errorDivId).removeClass('alert-success').addClass('alert-danger').text('An error occurred while processing your request.').show();
            }
        })();
      

    } else {
        alert(errorMessage);
        $(errorDivId).removeClass('alert-success').addClass('alert-danger').text(errorMessage).show();
    }
});

                                });
                            </script>
                            <script>
                                document.addEventListener('DOMContentLoaded', function () {
    const modal = document.getElementById('myModal');
    const okButton = modal.querySelector('#okButton');
    const remarksTextarea = document.querySelector('textarea[name="remarks"]');
    const checkboxes = modal.querySelectorAll('input[name="symptomCheckbox"]');

    // Function to update checkboxes based on current remarks
    function updateCheckboxes() {
        const remarks = remarksTextarea.value;
        const symptomsInRemarks = remarks.split(',').map(symptom => symptom.trim());

        checkboxes.forEach(checkbox => {
            const symptomText = checkbox.closest('tr').querySelector('td:nth-child(2)').textContent.trim();
            checkbox.checked = symptomsInRemarks.includes(symptomText);
        });
    }

    // Function to add selected symptoms to remarks and close the modal
    okButton.addEventListener('click', function () {
        const selectedSymptoms = [];
        
        checkboxes.forEach(checkbox => {
            if (checkbox.checked) {
                const symptomText = checkbox.closest('tr').querySelector('td:nth-child(2)').textContent.trim();
                selectedSymptoms.push(symptomText);
            }
        });

        // Join the selected symptoms into a comma-separated string and set it to the remarks textarea
        remarksTextarea.value = selectedSymptoms.join(', ');

        // Close the modal
        $('#myModal').modal('hide');
    });

    // When the modal is opened, update the checkboxes based on the current remarks
    $('#myModal').on('show.bs.modal', function () {
        updateCheckboxes();
    });
});

                            </script>

                            