<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>LifeLinker</title>
<%- include('../header'); -%>
        <!-- main content start -->
        <div class="main-content">

            <div class="row content-top-gap2">
                <div class="col-lg-12">
                    <nav class="navbar navbar-expand-lg navbar-light bg-white">
                        <a class="navbar-brand text-center mr-5" href="#">
                            <span class="dash-icon"><i class="fas fa-tachometer-alt"></i></span>
                            Dashboard
                        </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav">
                                <li class="nav-item active text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="far fa-user"></i></span>
                                        Master
                                    </a>
                                </li>
                                <li class="nav-item text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="fas fa-exchange-alt"></i></span>
                                        Transaction
                                    </a>
                                </li>
                                <li class="nav-item text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="fas fa-hand-holding-medical"></i></span>
                                        Patient 360
                                    </a>
                                </li>
                                <li class="nav-item text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="fas fa-receipt"></i></span>
                                        Outside Reciept
                                    </a>
                                </li>
                                <li class="nav-item text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="fas fa-file-invoice"></i></span>
                                        Outpatient Department
                                    </a>
                                </li>
                                <li class="nav-item text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="fas fa-chart-line"></i></span>
                                        Analytics
                                    </a>
                                </li>
                                <li class="nav-item text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="far fa-clock"></i></span>
                                        Waiting List
                                    </a>
                                </li>
                                <li class="nav-item text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="fas fa-wrench"></i></span>
                                        Adminstration
                                    </a>
                                </li>
                                <li class="nav-item text-center">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="fas fa-spinner"></i></span>
                                        Additional
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
            <!-- content -->
            <div class="container-fluid">

                <div class="chart">
                    <div class="row">

                        <div class="col-lg-12 pl-lg-0 mt-2 ml-2">
                            <h4 class="primary">Item</h4>
                        </div>
                        <div class="col-lg-12 pl-lg-2 chart-grid">
                            <div id="errordiv1"></div>
                            <form id="ItemMst" enctype="multipart/form-data">
                                <input type="hidden" name="query" id="query" value="0">
                                <input type="hidden" name="itemId" id="itemId" value='<%=a.id%>'>
                                <div class="card card_border">
                                    <div class="">
                                        <!--Past your code here starts-->

                                        <div class="card">

                                            <!-- <div class="card-body"> -->


                                            <!-- <div class="form-row"> -->

                                                <div class="form-row pl-lg-3 pr-lg-3 mt-3">
                                                
                                                    <div class="col-lg-6 col-md-6 col-sm-12 mb-3">
                                                        <div class="form-group"><label class="input__label">Item
                                                                Code</label><input name="item_code" id="item_code" type="text" data-validation="required" data-error-message="Code is required." class="form-control input-style" placeholder=""></div>
                                                    </div>
                                                </div>


                                             <div class="form-row pl-lg-3 pr-lg-3">


                                                <div class="col-lg-6 col-md-6 col-sm-12 mb-3">
                                                    <div class="form-group"><label class="input__label">Brand Name
                                                        </label><input name="brand_name" id="brand_name" type="text" data-validation="required" data-error-message="Brand Name is required."
                                                            class="form-control input-style"
                                                            placeholder=""></div>
                                                </div>

                                                <div class="col-lg-3 col-md-3 col-sm-12 mb-3">
                                                    <div class="form-group"><label
                                                            class="input__label">Strength</label><input name="strength" id="strength"
                                                            type="number" class="form-control input-style" placeholder="" data-validation="required" data-error-message="Strength is required.">
                                                    </div>
                                                </div>
                                                <div class="col-lg-3 col-md-3 col-sm-12 mb-3">
                                                    <div class="form-group"><label class="input__label">Strength
                                                            Unit</label><select name="strength_unit" id="strength_unit"  data-validation="required" data-error-message="Select Strength Unit."
                                                            class="form-control input-style"> 
                                                            <option value="">Select</option>
                                                           
                                                        </select></div>
                                                </div>
                                                <div class="col-lg-6 col-md-6 col-sm-12 mb-3">
                                                    <div class="form-group"><label class="input__label">Item
                                                            Name</label><input name="item_name" id="item_name" type="text" data-validation="required"  data-error-message="Item Name is required."
                                                            class="form-control input-style lockField" readonly
                                                            placeholder=""></div>
                                                </div>

                                                <div class="col-lg-6 col-md-6 col-sm-12 mb-3">
                                                    <div class="form-group"><label class="input__label">Molecule
                                                            Name </label><select name="molecule_name" id="molecule_name" data-validation="required" data-error-message="Select Molecule Name."
                                                            class="form-control input-style">
                                                            <option value="">Select</option>
                                                            
                                                        </select></div>
                                                </div>

                                                <div class="col-lg-6 col-md-6 col-sm-12 mb-3">
                                                    <div class="form-group"><label class="input__label">Item Group
                                                        </label><select name="item_group" id="item_group" data-validation="required" data-error-message="Select Item Group ."
                                                            class="form-control input-style">
                                                            <option value="">Select</option>
                                                            <!-- <option value="ABC"> ABC</option> -->
                                                        </select></div>
                                                </div>

                                                <div class="col-lg-6 col-md-6 col-sm-12 mb-3">
                                                    <div class="form-group"><label class="input__label">Item
                                                            Category </label><select name="item_category" id="item_category" data-validation="required" data-error-message="Select Item Category."
                                                            class="form-control input-style">
                                                            <option value="">Select</option>
                                                           
                                                        </select></div>
                                                </div>

                                                <div class="col-lg-6 col-md-6 col-sm-12 mb-3">
                                                    <div class="form-group"><label class="input__label">Dispensing
                                                            Type</label><select name="dispensing_type" id="dispensing_type" data-validation="required" data-error-message="Select Dispensing Type."
                                                            class="form-control input-style">
                                                            <option value=""> Select</option>
                                                           
                                                        </select></div>
                                                </div>

                                                <div class="col-lg-3 col-md-3 col-sm-12 mb-3">
                                                    <div class="form-group"><label class="input__label">Storage Type
                                                        </label><select name="storage_type" id="storage_type" data-validation="required" data-error-message="Select Select Storage Type."
                                                            class="form-control input-style">
                                                            <option value="">Select</option>
                                                          
                                                        </select></div>
                                                </div>

                                                <div class="col-lg-3 col-md-3 col-sm-12 mb-3">
                                                    <div class="form-group"><label class="input__label">Storage
                                                            Degree</label><input name="storage_degree" type="number"
                                                         id="storage_degree"   data-validation="required" data-error-message="Storage Degree."
                                                            class="form-control input-style" placeholder="">
                                                    </div>
                                                </div>

                                          <!--     <div class="col-lg-6 col-md-6 col-sm-12 mb-3">
                                                    <div class="form-group"><label class="input__label">Pregnancy
                                                            Class </label><select name="pregnancy_class" id="pregnancy_class" data-validation="required" data-error-message="Select Pregnancy Class"
                                                            class="form-control input-style">
                                                            <option value="">Select</option>
                                                           
                                                        </select></div>
                                                </div>
                                            --> 
                                                <div class="col-lg-6 col-md-6 col-sm-12 mb-3">
                                                    <div class="form-group"><label class="input__label">Therapeutic
                                                            Class</label><select name="therapeutic_class" id="therapeutic_class" data-validation="required" data-error-message="Select Therapeutic Class"
                                                            class="form-control input-style">
                                                            <option value=""> Select</option>
                                                           
                                                        </select></div>
                                                </div>


                                                <div class="col-lg-12 col-md-12 col-sm-12 mb-3">
                                                    <div class="form-group"><label class="input__label">Manufactured
                                                            By </label><select name="manufactured_by" id="manufactured_by"  data-validation="required" data-error-message="Select Manufactured By"
                                                            class="form-control input-style">
                                                            <option value="">Select</option>
                                                            <option value="AlKEM">ALKEM</option>
                                                            
                                                          
                                                        </select></div>
                                                </div>


                                                <div class="col-lg-6 col-md-6 col-sm-12 mb-3">
                                                    <div class="form-group"><label class="input__label">Purchase UOM
                                                        </label><select name="purchase_uom" id="purchase_uom" data-validation="required" data-error-message="Select Purchase UOM"
                                                            class="form-control input-style">
                                                            <option value="">select</option>
                                                   
                                                            
                                                        </select></div>
                                                </div>

                                                <div class="col-lg-6 col-md-6 col-sm-12 mb-3">
                                                    <div class="form-group"><label class="input__label">Stocking
                                                            UOM</label>
                                                            <select name="stocking_uom" id="stock_uom" data-validation="required" data-error-message="Select Purchase UOM"
                                                            class="form-control input-style">
                                                            <option value="">select</option>
                                                          
                                                        </select></div>
                                                </div>

                                                <div class="col-lg-6 col-md-6 col-sm-12 mb-3">
                                                    <div class="form-group"><label class="input__label">Base
                                                            UOM</label><select name="base_uom" id="base_uom" data-validation="required" data-error-message="Select Base UOM"
                                                            class="form-control input-style">
                                                            <option value="">Select</option>
                                                            
                                                        </select></div>
                                                </div>

                                                <div class="col-lg-6 col-md-6 col-sm-12 mb-3">
                                                    <div class="form-group"><label class="input__label">Selling UOM
                                                        </label><select name="selling_uom" id="selling_uom" data-validation="required" data-error-message="Select Selling UOM"
                                                            class="form-control input-style">
                                                            <option value="">Select</option>
                                                          
                                                        </select></div>
                                                </div>

                                                <div class="col-lg-6 col-md-6 col-sm-12 mb-3">
                                                    <div class="form-group"><label class="input__label">Base Unit
                                                            MRP</label><input name="base_unit_mrp" type="number"  data-validation="required" data-error-message="Base Unit is required"
                                                           id="base_unit_mrp" class="form-control input-style" placeholder="">
                                                    </div>
                                                </div>

                                                <div class="col-lg-6 col-md-6 col-sm-12 mb-3">
                                                    <div class="form-group"><label class="input__label">Base Unit
                                                            Cost Price</label><input name="base_unit_cost_price" data-validation="required" data-error-message="Base Unit is required"
                                                       id="base_unit_cost_price"     type="number" class="form-control input-style"
                                                            placeholder=""></div>
                                                </div>


                                                <div class="col-lg-6 col-md-6 col-sm-12 mb-3">
                                                    <div class="form-group"><label class="input__label">Discount On
                                                            Sale (%)</label><input name="discount_on_sale" max="100" data-validation="required" data-error-message="Select Therapeutic Class"
                                                  id="discount_on_sale"          type="number" class="form-control input-style"
                                                            placeholder=""></div>
                                                </div>

                                                <div class="col-lg-6 col-md-6 col-sm-12 mb-3">
                                                    <div class="form-group"><label class="input__label">Route
                                                        </label><select name="route" id="route" class="form-control input-style" data-validation="required" data-error-message="Select Route">
                                                            <option value="">Select</option>
                                                            <option value="IV">IV</option>
                                                            <option value="IM">IM</option>
                                                            <option value="SUBCUTANEOUS">SUBQUENTOUS</option>
                                                            <option value="ORAL">ORAL</option>
                                                            <option value="VIGINALY">VIGINALY</option>
                                                            <option value="NAZAL">NAZAL</option>
                                                            <option value="SPRAY">SPRAY</option>
                                                            <option value="OTHER">OTHER</option>
                                                        </select></div>
                                                </div>


                                                <div class="col-lg-6 col-md-6 col-sm-12 mb-3">
                                                    <div class="form-group">
                                                        <label class="input__label ml-1">Analysis Required</label>
                                                    </div>
                                                
                                                    <div class="radio">
                                                        <label class="form-check-label">
                                                            <input value="ABC" name="AnalysisRequired" class="form-check-input" data-validation="required" data-error-message="Analysis Required" type="radio" <%= a.AnalysisRequired === 'ABC' ? 'checked' : '' %> > ABC
                                                        </label>
                                                    </div>
                                                
                                                    <div class="radio">
                                                        <label class="form-check-label">
                                                            <input value="FSN" name="AnalysisRequired" class="form-check-input" type="radio" <%= a.AnalysisRequired === 'FSN' ? 'checked' : '' %> > FSN
                                                        </label>
                                                    </div>
                                                
                                                    <div class="radio">
                                                        <label class="form-check-label">
                                                            <input value="VED" name="AnalysisRequired" class="form-check-input" type="radio" <%= a.AnalysisRequired === 'VED' ? 'checked' : '' %> > VED
                                                        </label>
                                                    </div>
                                                </div>
                                                



                                                


                                                
                                                

                                                <!-- </div> -->

                                            </div>

                                            <div class="form-row pl-lg-3 pr-lg-3">
                                                
                                                <div class="col-lg-6 col-md-6 col-sm-12 mb-3">
                                                    <div class="form-group"><label class="input__label">Expiry Alert
                                                            Before In Days</label><input
                                                            name="expiry_alert_before_in_days" type="number"
                                                         id="expiry_alert_before_in_days"    data-validation="required" data-error-message=" Expiry Alert
                                                            Before In Days is required"
                                                            class="form-control input-style" placeholder=""></div>
                                                </div>

                                                <div class="col-lg-6 col-md-6 col-sm-12">
                                                    <div class="form-check-label">
                                                        <div class="radio my-4">
                                                            <label class="form-check-label">
                                                                <input name="batchesRequired" value="YES" class="form-check-input" type="checkbox" <%= a.batchesRequired === 'YES' ? 'checked' : '' %>>
                                                                Batches Required
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                

                                            </div>

                                            <div class="form-row pl-lg-3 pr-lg-3">

                                                <div class="col-lg-6 col-md-6 col-sm-12 mb-3">
                                                    <div class="form-group"><label class="input__label">HSN
                                                            Codes</label><select name="hsn_codes" id="hsn_codes" 
                                                        id="hsn_codes"    data-validation="required" data-error-message=" Select HSN Code"
                                                            class="form-control input-style">
                                                            <option value=""> Select</option>
                                                            <option value="1111">1111</option>
                                                           
                                                        </select></div>
                                                </div>
                                                
                                                
                                            </div>

                                            <div class="form-row pl-lg-3 pr-lg-3">
                                                <div class="col-lg-6 col-md-6 col-sm-12 mb-3">
                                                    <div class="form-group"><label class="input__label">Staff-
                                                            Discount on sale%</label><input
                                                            name="staff_discount_on_sale" type="number" max="100"
                                                         id="staff_discount_on_sale"   data-validation="required" data-error-message=" Staff-
                                                            Discount on sale% is required"
                                                            class="form-control input-style" placeholder=""></div>
                                                </div>
                                                

                                            </div>

                                            <div class="form-row pl-lg-3 pr-lg-3">

                                                <div class="col-lg-6 col-md-6 col-sm-12 mb-3">
                                                    <div class="form-group"><label class="input__label">Registered
                                                            Patients - Discount on sale%</label><input
                                                            name="registered_patients_discount_on_sale" type="number" max="100"
                                                          id="registered_patients_discount_on_sale"  data-validation="required" data-error-message=" Registered
                                                            Patients - Discount on sale%"
                                                            class="form-control input-style" placeholder=""></div>
                                                </div>

                                                
                                            </div>

                                            <div class="form-row pl-lg-3 pr-lg-3">

                                                <div class="col-lg-6 col-md-6 col-sm-12 mb-3">
                                                    <div class="form-group"><label class="input__label">Walk-in
                                                            Patients - Discount on sale %</label><input
                                                            name="walk_in_patients_discount_on_sale" type="number" max="100"
                                                          id="walk_in_patients_discount_on_sale"   data-validation="required" data-error-message=" Walk-in Patients - Discount on sale %"
                                                            class="form-control input-style" placeholder=""></div>
                                                </div>
                                            </div>




                                            <!-- </div> -->
                                        </div>

                                        <!--Past your code here ends-->
                                    </div>
                                </div>
                                <div class="form-group mt-1 mb-3 text-right">

                                    <button type="button" disabled
                                        class="btn-primary btn-style btn mt-3 mr-2" data-bs-toggle="modal" data-bs-target="#itemDetailsModal"><strong>Location</strong></button>
                                    <button type="button" disabled data-bs-toggle="modal" data-bs-target="#uomConversionModal"
                                        class="btn-primary btn-style btn mt-3 mr-2"><strong>Conversion</strong></button>
                                    <button type="button"  disabled data-bs-toggle="modal" data-bs-target="#itemSupplierModal" class="btn-secondary btn-style btn mt-3 mr-2"><strong>Apply
                                            Supplier</strong></button>
                                    <button type="button" disabled  data-bs-toggle="modal" data-bs-target="#itemStoreModal" class="btn-secondary btn-style btn mt-3 mr-2"><strong>Apply
                                            Store and Tax</strong></button>

                                            
                                    <button type="button" disabled class="btn-success btn-style btn mt-3 mr-2"><strong>Other
                                            Details</strong></button>

                                            <button type="button" class="btn-success btn-style btn mr-2 mt-3"  disabled id="mod-btn" onclick="updateQuery()"><strong><i
                                                class="fa-regular fa-pen-to-square" ></i> Modify</strong></button>
                            
                                   
                                    <button type="submit" id="sub-btn" class="btn-primary btn-style btn mt-3"><strong><i
                                                class="far fa-save"></i>
                                            Save</strong></button>
                                            <button type="button"    onclick="window.location.href = '/adminInv/43';" class="btn-danger btn-style btn mt-3 mr-2"><strong><i
                                             class="fas fa-times"></i> Cancel</strong></button>


                                </div>
                            </form>
                        </div>


                        <!-- Button to Open the Modal -->

  
                        <%-include('../footer');-%>
                        <script>
                            


                            document.getElementById('item_code').value='<%= a.item_code %>'
                            document.getElementById('brand_name').value='<%= a.brand_name %>'
                            document.getElementById('strength').value='<%= a.strength %>'
                            document.getElementById('item_name').value='<%= a.item_name %>'
                            document.getElementById('storage_degree').value='<%= a.storage_degree%>'
                            document.getElementById('manufactured_by').value='<%= a.manufactured_by%>'
                            document.getElementById('base_unit_mrp').value='<%= a.base_unit_mrp%>'
                            document.getElementById('base_unit_cost_price').value='<%= a.base_unit_cost_price%>'
                            document.getElementById('discount_on_sale').value='<%= a.discount_on_sale%>'
                            document.getElementById('walk_in_patients_discount_on_sale').value='<%= a.walk_in_patients_discount_on_sale%>'
                            document.getElementById('expiry_alert_before_in_days').value='<%= a.expiry_alert_before_in_days%>'
                            document.getElementById('hsn_codes').value='<%= a.hsn_codes%>'
                            document.getElementById('staff_discount_on_sale').value='<%= a.staff_discount_on_sale%>'
                            document.getElementById('registered_patients_discount_on_sale').value='<%= a.staff_discount_on_sale%>'
                            document.getElementById('route').value='<%= a.route%>'
                            
                            function updateQuery(){
        document.getElementById('query').value=1;
        $('#mod-btn').prop('disabled', true);   
        $('input[data-validation], select[data-validation]').prop('disabled', false);
        $('#sub_spec_code').prop('disabled', true);
        document.getElementById('sub-btn').disabled = false;
      }
                            if('<%= a.id %>'!==''){
                                
        $('input[data-validation], select[data-validation]').prop('disabled', true);
        document.getElementById('sub-btn').disabled = true;
        document.getElementById('mod-btn').disabled = false;
       
      }else{
      
        document.getElementById('mod-btn').disabled = true;
      }
                        </script>



                      
                        
                      <script>
                        $(document).ready(function() {

                            //item name
                            function updateItemName() {
        const brandName = $('#brand_name').val();
        const strength = $('#strength').val();
        const strengthUnit = $('#strength_unit').val();
        
        // Concatenate values with spaces between them
        const itemName = `${brandName} ${strength} ${strengthUnit}`.trim();
        
        $('#item_name').val(itemName);
    }

    // Attach event listeners to inputs
    $('#brand_name, #strength, #strength_unit').on('input change', function() {
        updateItemName();
    });

    //item group fetch 

            
    async function loadItemGroup(a) {
    try {
        const response = await fetch('/adminInv/get-ItemGroup-details');
        const data = await response.json();

        console.log(data);
        const dropdown = document.getElementById(a);
        data.forEach(item => {
            const option = document.createElement('option');
            option.value = item.description;
            option.textContent = item.description;
            dropdown.appendChild(option);
        });

        // Dispatch a custom event indicating the dropdown is populated
        const event = new Event('dropdownPopulated');
        dropdown.dispatchEvent(event);
    } catch (error) {
        console.error('Error fetching item groups:', error);
    }
}

// Call the function with the dropdown ID
loadItemGroup('item_group');

// Listen for the custom event and set the value
document.getElementById('item_group').addEventListener('dropdownPopulated', function() {
    this.value = '<%= a.item_group %>';
});


async function loadItemCat(a) {
    try {
        const response = await fetch('/adminInv/get-ItemCat-details');
        const data = await response.json();

        console.log(data);
        const dropdown = document.getElementById(a);
        data.forEach(item => {
            const option = document.createElement('option');
            option.value = item.Item_description;
            option.textContent = item.Item_description;
            dropdown.appendChild(option);
        });

        const event = new Event('dropdownPopulated');
        dropdown.dispatchEvent(event);
    } catch (error) {
        console.error('Error fetching item categories:', error);
    }
}

async function loadDispType(a) {
    try {
        const response = await fetch('/adminInv/get-DispType-details');
        const data = await response.json();

        console.log(data);
        const dropdown = document.getElementById(a);
        data.forEach(item => {
            const option = document.createElement('option');
            option.value = item.description;
            option.textContent = item.description;
            dropdown.appendChild(option);
        });

        const event = new Event('dropdownPopulated');
        dropdown.dispatchEvent(event);
    } catch (error) {
        console.error('Error fetching dispensing types:', error);
    }
}

async function loadUOM(a) {
    try {
        const response = await fetch('/adminInv/get-UOM-details');
        const data = await response.json();

        console.log(data);
        const dropdown = document.getElementById(a);
        data.forEach(item => {
            const option = document.createElement('option');
            option.value = item.description;
            option.textContent = item.description;
            dropdown.appendChild(option);
        });

        const event = new Event('dropdownPopulated');
        dropdown.dispatchEvent(event);
    } catch (error) {
        console.error('Error fetching UOM details:', error);
    }
}

async function loadStrengthUnit(a) {
    try {
        const response = await fetch('/adminInv/get-StrenghUnit-details');
        const data = await response.json();

        console.log(data);
        const dropdown = document.getElementById(a);
        data.forEach(item => {
            const option = document.createElement('option');
            option.value = item.description;
            option.textContent = item.description;
            dropdown.appendChild(option);
        });

        const event = new Event('dropdownPopulated');
        dropdown.dispatchEvent(event);
    } catch (error) {
        console.error('Error fetching strength units:', error);
    }
}

async function loadMolecule(a) {
    try {
        const response = await fetch('/adminInv/get-Molecule-details');
        const data = await response.json();

        console.log(data);
        const dropdown = document.getElementById(a);
        data.forEach(item => {
            const option = document.createElement('option');
            option.value = item.description;
            option.textContent = item.description;
            dropdown.appendChild(option);
        });

        const event = new Event('dropdownPopulated');
        dropdown.dispatchEvent(event);
    } catch (error) {
        console.error('Error fetching molecules:', error);
    }
}

async function loadTherClass(a) {
    try {
        const response = await fetch('/adminInv/get-TherClass-details');
        const data = await response.json();

        console.log(data);
        const dropdown = document.getElementById(a);
        data.forEach(item => {
            const option = document.createElement('option');
            option.value = item.description;
            option.textContent = item.description;
            dropdown.appendChild(option);
        });

        const event = new Event('dropdownPopulated');
        dropdown.dispatchEvent(event);
    } catch (error) {
        console.error('Error fetching therapeutic classes:', error);
    }
}

async function loadPregClass(a) {
    try {
        const response = await fetch('/adminInv/get-PregClass-details');
        const data = await response.json();

        console.log(data);
        const dropdown = document.getElementById(a);
        data.forEach(item => {
            const option = document.createElement('option');
            option.value = item.description;
            option.textContent = item.description;
            dropdown.appendChild(option);
        });

        const event = new Event('dropdownPopulated');
        dropdown.dispatchEvent(event);
    } catch (error) {
        console.error('Error fetching pregnancy classes:', error);
    }
}

async function loadStorageType(a) {
    try {
        const response = await fetch('/adminInv/get-StorgeType-details');
        const data = await response.json();

        console.log(data);
        const dropdown = document.getElementById(a);
        data.forEach(item => {
            const option = document.createElement('option');
            option.value = item.description;
            option.textContent = item.description;
            dropdown.appendChild(option);
        });

        const event = new Event('dropdownPopulated');
        dropdown.dispatchEvent(event);
    } catch (error) {
        console.error('Error fetching storage types:', error);
    }
}

async function loadHSN(a) {
    try {
        const response = await fetch('/adminInv/get-HSN-Code-details');
        const data = await response.json();

        console.log(data);
        const dropdown = document.getElementById(a);
        data.forEach(item => {
            const option = document.createElement('option');
            option.value = item.HSN_CD;
            option.textContent = item.HSN_CD;
            dropdown.appendChild(option);
        });

        const event = new Event('dropdownPopulated');
        dropdown.dispatchEvent(event);
    } catch (error) {
        console.error('Error fetching HSN codes:', error);
    }
}

// Call the functions with their respective dropdown IDs
loadItemGroup('item_group');
loadItemCat('item_category');
loadDispType('dispensing_type');
loadUOM('purchase_uom');
loadUOM('stock_uom');
loadUOM('base_uom');
loadUOM('selling_uom');
loadStrengthUnit('strength_unit');
loadMolecule('molecule_name');
loadTherClass('therapeutic_class');
// loadPregClass('pregnancy_class');
loadStorageType('storage_type');
// loadHSN('hsn_codes');

// Listen for the custom event and set the value
document.getElementById('item_group').addEventListener('dropdownPopulated', function() {
    this.value = '<%= a.item_group %>';
});
document.getElementById('item_category').addEventListener('dropdownPopulated', function() {
    this.value = '<%= a.item_category %>';
});
document.getElementById('dispensing_type').addEventListener('dropdownPopulated', function() {
    this.value = '<%= a.dispensing_type %>';
});
document.getElementById('purchase_uom').addEventListener('dropdownPopulated', function() {
    this.value = '<%= a.purchase_uom %>';
});
document.getElementById('stock_uom').addEventListener('dropdownPopulated', function() {
    this.value = '<%= a.stocking_uom %>';
});
document.getElementById('base_uom').addEventListener('dropdownPopulated', function() {
    this.value = '<%= a.base_uom %>';
});
document.getElementById('selling_uom').addEventListener('dropdownPopulated', function() {
    this.value = '<%= a.selling_uom %>';
});
document.getElementById('strength_unit').addEventListener('dropdownPopulated', function() {
    this.value = '<%= a.strength_unit %>';
});
document.getElementById('molecule_name').addEventListener('dropdownPopulated', function() {
    this.value = '<%= a.molecule_name %>';
});
document.getElementById('therapeutic_class').addEventListener('dropdownPopulated', function() {
    this.value = '<%= a.therapeutic_class %>';
});
// document.getElementById('pregnancy_class').addEventListener('dropdownPopulated', function() {
//     this.value = '<%= a.pregnancy_class %>';
// });
document.getElementById('storage_type').addEventListener('dropdownPopulated', function() {
    this.value = '<%= a.storage_type %>';
});
// document.getElementById('hsn_codes').addEventListener('dropdownPopulated', function() {
//     this.value = '<%= a.hsn_codes %>';
// });

// Ensure this function is called after the DOM is fully loaded
// loadHSN('hsn_codes')
         


    console.log("Document is ready"); // Debugging log

    function validateForm(formId, errorDivId) {
        $(formId).on('submit', function(event) {
            event.preventDefault();
            console.log("Form submission prevented"); // Debugging log
            let isValid = true;
            let errorMessage = '';

            // Convert the jQuery collection to an array and reverse it
            const inputs = $(this).find('input,select,textarea').toArray().reverse();

            // Iterate over the reversed array
            inputs.forEach(function(input) {
                const $input = $(input);
                const validationRules = $input.data('validation');
                const customErrorMessage = $input.data('error-message') || 'This field is required.';
                
                $input.removeClass('is-invalid');
                if (validationRules) {
                    const rules = validationRules.split(' ');

                    rules.forEach(rule => {
                        switch (rule) {
                            case 'required':
                                if (!$input.val()) {
                                    isValid = false;
                                    errorMessage = customErrorMessage;
                                    console.log(`Validation failed: ${customErrorMessage}`); // Debugging log
                                    $input.addClass('is-invalid');
                                }
                                break;
                            case 'email':
                                const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
                                if (!emailRegex.test($input.val())) {
                                    isValid = false;
                                    errorMessage = customErrorMessage;
                                }
                                break;
                            // Add more cases here for different validation rules
                        }
                    });
                }
            });

            if (isValid) {
                const data = new FormData(this);
                let jsonObject = {};

                // Convert FormData entries to JSON with array handling
                for (let [key, value] of data.entries()) {
                    console.log(key, value);
                    if (jsonObject[key]) {
                        // If key already exists, convert to array or append to existing array
                        if (!Array.isArray(jsonObject[key])) {
                            jsonObject[key] = [jsonObject[key]];
                        }
                        jsonObject[key].push(value);
                    } else {
                        jsonObject[key] = value;
                    }
                }

                // Convert arrays to strings
                for (let key in jsonObject) {
                    if (Array.isArray(jsonObject[key])) {
                        jsonObject[key] = jsonObject[key].join(', '); // Convert array to string
                    }
                }

                // Convert the JSON object to a JSON string
                const jsonData = JSON.stringify(jsonObject);

                $.ajax({
                    url: '/adminInv/ItemMstSubmit',
                    type: 'POST',
                    data: jsonData,
                    contentType: 'application/json', // Send as JSON
                    processData: false, // Don't process the data
                    success: function(response) {
                        alert(response.msg);
                        $(errorDivId).removeClass('alert-danger').addClass('alert-success').text(response.msg).show();
                        console.log('Response:', response);
                    },
                    error: function(xhr, status, error) {
                        const response = JSON.parse(xhr.responseText);
                        alert(response.msg);
                        $(errorDivId).removeClass('alert-success').addClass('alert-danger').text(response.msg).show();
                        console.error('Error:', error);
                    }
                });
            } else {
                alert(errorMessage);
                $(errorDivId).removeClass('alert-success').addClass('alert-danger').text(errorMessage).show();
            }
        });
    }

    // Initialize validation on the form
    validateForm('#ItemMst', '#errordiv1');
});

                      </script>
                        
                       
                        