<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>LifeLinkr</title>

    <!-- Template CSS -->
   
  
<%- include('../header') %>
        <!-- //header-ends -->
        <!-- main content start -->
        <div class="main-content">

            <div class="row content-top-gap2">
                <div class="col-lg-12">
                    <nav class="navbar navbar-expand-lg navbar-light bg-white">
                        <a class="navbar-brand text-center mr-5" href="#">
                            <span class="dash-icon"><i class="fas fa-tachometer-alt"></i></span>
                            Dashboard
                        </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav">
                                <li class="nav-item active text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="far fa-user"></i></span>
                                        Master
                                    </a>
                                </li>
                                <li class="nav-item text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="fas fa-exchange-alt"></i></span>
                                        Transaction
                                    </a>
                                </li>
                                <li class="nav-item text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="fas fa-hand-holding-medical"></i></span>
                                        Patient 360
                                    </a>
                                </li>
                                <li class="nav-item text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="fas fa-receipt"></i></span>
                                        Outside Reciept
                                    </a>
                                </li>
                                <li class="nav-item text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="fas fa-file-invoice"></i></span>
                                        Outpatient Department
                                    </a>
                                </li>
                                <li class="nav-item text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="fas fa-chart-line"></i></span>
                                        Analytics
                                    </a>
                                </li>
                                <li class="nav-item text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="far fa-clock"></i></span>
                                        Waiting List
                                    </a>
                                </li>
                                <li class="nav-item text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="fas fa-wrench"></i></span>
                                        Adminstration
                                    </a>
                                </li>
                                <li class="nav-item text-center">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="fas fa-spinner"></i></span>
                                        Additional
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
            <!-- content -->
            <div class="container-fluid">

                <div class="chart">
                    <div class="row">

                        <div class="col-lg-12 pl-lg-0 mt-2 ml-2">
                            <h4 class="primary">Form New Couple : <%= patient.prefix %>
                                <%= patient.firstName %></h4>
                        </div>

                        <div class="col-lg-12 pl-lg-2 chart-grid">
                            <form id="myForm" method="post">
                                <div class="card card_border">
                                    <div class="">
                                        <!--Past your code here starts-->

                                        <div class="card">

                                            

                                            <div class="card-body pb-2 pt-3">

                                                


                                                <div class="form-row">

                                                    
                                                    <div class="card">
                                                      
                                            
                                                        <div class="card-body pt-2 pb-2 pl-lg-3 pr-lg-3">
                                                            <div class="form-row">
                                                                <div class="col-lg-4 col-md-4 col-sm-12 mb-2">
                                                                    <div class="form-group">
                                                                        <label class="input__label">MR No.</label>
                                                                        <input 
                                                                            id="mrNo"
                                                                            name="mrNo"
                                                                            type="text"
                                                                            class="form-control input-style" 
                                                                            placeholder=""
                                                                            value="<%= patient.mr_no %>"
                                                                            data-validation="required"
                                                                            data-error-message="MR No. is required"
                                                                            disabled>

                                                                    </div>
                                                                </div>
                                            
                                                               
                                            
                                                                
                                                            </div>
                                            
                                                            <div class="form-row">
                                                                <div class="col-lg-3 col-md-4 col-sm-12 mb-2">
                                                                    <div class="form-group">
                                                                        <label class="input__label" for="first-name">First Name</label>
                                                                        <input id="firstName" name="firstName" type="text" class="form-control input-style" placeholder=""  value="<%= patient.firstName %>"
                                                                            data-validation="required"
                                                                            disabled
                                                                            data-error-message="First Name is required">
                                                                    </div>
                                                                </div>
                                            
                                                                <div class="col-lg-3 col-md-4 col-sm-12 mb-2">
                                                                    <div class="form-group">
                                                                        <label class="input__label" for="last-name">Last Name</label>
                                                                        <input id="lastName" name="lastName" type="text" class="form-control input-style" placeholder=""  value="<%= patient.lastName %>"
                                                                            data-validation="required"
                                                                            disabled
                                                                            data-error-message="Last Name is required">
                                                                    </div>
                                                                </div>
                                            
                                                                <div class="col-lg-3 col-md-4 col-sm-12 mb-2">
                                                                    <div class="form-group">
                                                                        <label class="input__label" for="gender">Gender</label>
                                                                        <select id="gender" name="gender" class="form-control input-style"
                                                                            data-validation="required"  value="<%= patient.gender %>" disabled
                                                                            data-error-message="Gender is required">
                                                                            <option value="">Select</option>
                                                                            <option value="Male">Male</option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                            
                                                                <div class="col-lg-3 col-md-4 col-sm-12 mb-2">
                                                                    <div class="form-group">
                                                                        <label class="input__label" for="dob">D.O.B.</label>
                                                                        <input id="dob" name="dob" type="date" class="form-control input-style" placeholder=""  value="<%= patient.dob %>" disabled
                                                                            data-validation="required" 
                                                                            data-error-message="D.O.B. is required">
                                                                    </div>
                                                                </div>
                                            
                                                                <div class="col-lg-3 col-md-4 col-sm-12 mb-2">
                                                                    <label class="input__label">Age</label>
                                                                    <div class="form-row">
                                                                        <div class="col-4 form-group">
                                                                            <input id="age-years" name="age_years" type="number" class="form-control input-style" placeholder=""
                                                                                data-validation="required"
                                                                                value="<%= patient.age_years %>"
                                                                                data-error-message="Age in years is required" disabled>
                                                                        </div>
                                                                        <div class="col-4 form-group">
                                                                            <input id="age-months" name="age_months" type="number" class="form-control input-style" placeholder=""
                                                                                data-validation="required"
                                                                                value="<%= patient.age_months %>"
                                                                                data-error-message="Age in months is required" disabled>
                                                                        </div>
                                                                        <div class="col-4 form-group">
                                                                            <input id="age-days" name="age_days" type="number" class="form-control input-style" placeholder=""
                                                                                data-validation="required"
                                                                                value="<%= patient.age_days %>"
                                                                                data-error-message="Age in days is required" disabled>
                                                                        </div>
                                                                    </div>
                                                                </div>                                            
                                                               
                                            
                                                               
                                                            </div>
                                                        </div>
                                                    </div>

                                                   
                                                    

                                                </div>

                                                
                                                <div class="col-lg-8 col-md-4 col-sm-12 mb-2">
                                                    <div class="form-group"><label class="input__label">Search</label><input name="searchBox" id="searchBox"type="text"
                                                            class="form-control input-style" placeholder=""></div>
                                                        </div>

                                               

                                                <div class="form-row">
                                                    <div class="col-12">
                                                        <div class="form-group">
                                                            <div class="col col-12 mb-3 mt-2 pr-lg-0 pl-lg-0 ">
                                                                <div class="slidx">
                                                                    
                                                                    <table class="table2" id="listPatients">
                                                                        <thead>
                                                                            <tr>       
                                                                                <th contenteditable="true" width="20%">Select</th>
                                                                                <th contenteditable="true">Mr No</th>
                                                                                <th contenteditable="true">Name</th>
                                                                                <th contenteditable="true">Date Of Birth</th>    
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody id="couple">
                                                                        </tbody>
                                                                       
                                                                    </table>
                                                                    <div id="paginationControls"></div>
                                                                </div>
                                                         
                                                            </div>
                                                            
                                                        </div>
                                                    </div>
                                                    
                                                </div>



                                               



                                            </div>
                                        </div>
                                        <!--Past your code here ends-->
                                    </div>

                                </div>


                                <div class="form-group mb-3 text-right">
                                
                                    <button type="button" class="btn-danger btn-style btn mt-3 mr-2" onclick="window.location.href='/findpatient/6'"><strong><i class="fas fa-times"></i>
                                            Cancel</strong></button>
                                
                                    <button type="submit" class="btn-primary btn-style btn mt-3"><strong><i class="far fa-save"></i>
                                            Save</strong></button>

                                </div>

                                
                            </form>
                        </div>
                        <!--footer section start-->
                      <%- include('../footer') %>
                      <script type="module">
                        import {pagi_search} from  '../javascripts/pagi_search.js';

                        $(document).ready(function () {
    function fetchAndDisplayPatients() {
        $.getJSON('/findpatient/patientData', function (patients) {
            const coupleTbody = $('#couple');
            coupleTbody.empty(); // Clear the tbody

            patients.forEach(function (patient) {
                coupleTbody.append(
                    `<tr>
                        <td contenteditable="true"><input class="form-check-input mt-1" type="radio" name="checkCouple" value="${patient.mr_no}" data-couple-name="${patient.firstName} ${patient.lastName}" data-couple-dob="${patient.dob}"></td>
                        <td contenteditable="true">${patient.mr_no}</td>
                        <td contenteditable="true">${patient.firstName} ${patient.lastName}</td>
                        <td contenteditable="true">${patient.dob}</td>
                    </tr>`
                );
            });
        }).fail(function (jqXHR, textStatus, errorThrown) {
            console.error('Error fetching patient data:', textStatus, errorThrown);
        });
    }

    // Function to handle form submission
    $('#myForm').on('submit', function (event) {
        event.preventDefault();

        const mrNo = $('#mrNo').val();
        const PatientName = `${$('#firstName').val()} ${$('#lastName').val()}`;
        const selectedCouple = $('input[name="checkCouple"]:checked');
        const Couple_mrNo = selectedCouple.val();
        const CoupleName = selectedCouple.data('couple-name');
        var CoupleDob = selectedCouple.data('couple-dob');

        if (!Couple_mrNo) {
            alert('Please select a couple from the list.');
            return;
        }

        CoupleDob = new Date(CoupleDob);
            if (isNaN(CoupleDob.getTime())) {
                CoupleDob = null; // Set to null or handle as necessary
            } else {
                CoupleDob = CoupleDob.toISOString().split('T')[0]; // Format as 'YYYY-MM-DD'
            }

        const formData = {
            mrNo: mrNo,
            PatientName: PatientName,
            Couple_mrNo: Couple_mrNo,
            CoupleName: CoupleName,
            CoupleDob:CoupleDob
        };

        $.ajax({
            url: '/findpatient/submitCoupleData',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify(formData),
            success: function (response) {
                alert('Data saved successfully');
                // Optionally, refresh or redirect after successful submission
            },
            statusCode: {
                    409: function () {
                        alert('Couple already exists. Please check the details.');
                    }
                },
            error: function (jqXHR, textStatus, errorThrown) {
                console.error('Error saving data:', textStatus, errorThrown);
                
            }
        });
    });

    // Initialize the page
    fetchAndDisplayPatients();
    pagi_search('#searchBox', '#listPatients', '#paginationControls');
});
 </script>