<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>LifeLinkr</title>

<%- include('../header'); -%>
        <!-- //header-ends -->
        <!-- main content start -->
        <div class="main-content">

            <div class="row content-top-gap2">
                <div class="col-lg-12">
                    <nav class="navbar navbar-expand-lg navbar-light bg-white">
                        <a class="navbar-brand text-center mr-5" href="#">
                            <span class="dash-icon"><i class="fas fa-tachometer-alt"></i></span>
                            Dashboard
                        </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav">
                                <li class="nav-item active text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="far fa-user"></i></span>
                                        Master
                                    </a>
                                </li>
                                <li class="nav-item text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="fas fa-exchange-alt"></i></span>
                                        Transaction
                                    </a>
                                </li>
                                <li class="nav-item text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="fas fa-hand-holding-medical"></i></span>
                                        Patient 360
                                    </a>
                                </li>
                                <li class="nav-item text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="fas fa-receipt"></i></span>
                                        Outside Reciept
                                    </a>
                                </li>
                                <li class="nav-item text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="fas fa-file-invoice"></i></span>
                                        Outpatient Department
                                    </a>
                                </li>
                                <li class="nav-item text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="fas fa-chart-line"></i></span>
                                        Analytics
                                    </a>
                                </li>
                                <li class="nav-item text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="far fa-clock"></i></span>
                                        Waiting List
                                    </a>
                                </li>
                                <li class="nav-item text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="fas fa-wrench"></i></span>
                                        Adminstration
                                    </a>
                                </li>
                                <li class="nav-item text-center">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="fas fa-spinner"></i></span>
                                        Additional
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
            <!-- content -->
            <div class="container-fluid">

                <div class="chart">
                    <div class="row">

                        <div class="col-lg-12 pl-lg-0 mt-2 ml-2">
                            <h4 class="primary">Template Master Details</h4>
                        </div>
                        <div class="col-lg-12 pl-lg-2 chart-grid">
                            <div id="errordiv1"></div>
                            <form id="TestCateg" method="post">
                                <input type="hidden" name="query" id="query"  value="0">
                                <div class="card card_border">
                                    <div class="">
                                        <!--Past your code here starts-->

                                        <div class="card">

                                            <div class="card-body">

                                                <div class="form-row">
                                                    
                                                    <div class="col-lg-3 col-md-6 col-sm-12">
                                                        <div class="form-group">
                                                            <label class="input__label">Code</label>
                                                                <input name="code" id='code'type="text" data-validation="required" data-error-message="Code is required"class="form-control input-style" placeholder="01" <%= a.id ? 'disabled' : '' %> value='<%- a.code -%>'>
                                                            </div>
                                                    </div>

                                                    <div class="col-lg-3 col-md-6 col-sm-12">
                                                        <div class="form-group">
                                                            <label class="input__label">Description</label>
                                                                <input name="description" type="text" class="form-control input-style"  data-validation="required" data-error-message="Description is required"placeholder="Biochemistry"  <%= a.id ? 'disabled' : '' %> value='<%- a.description -%>'>
                                                            </div>
                                                    </div>
                                                    <div class="col-lg-3 col-md-6 col-sm-12">
                                                        <div class="form-group">
                                                            <label class="input__label">Gender</label>
                                                            <select name="gender" class="form-control input-style" data-validation="required" data-error-message="Gender is required"  <%= a.id ? 'disabled' : '' %>>
                                                              <option value="">Select</option>
                                                              <option value="Male">Male</option>
                                                              <option value="Female">Female</option>
                                                              <option value="Other">Other</option>
                                                              <option value='<%- a.gender -%>' <%=a.gender
                                                                ? 'selected' : '' %>><%- a.gender -%></option>
                                                                       </select>
                                                        </div>
                                                        </div>
                                                        <div class="col-lg-3 col-md-6 col-sm-12">
                                                        <div class="form-group">
                                                            <label class="input__label">Design Template</label>
                                                            <textarea name="design" class="form-control input-style" data-validation="required" data-error-message="Design Template is required"
                                                            placeholder="Need to add text-editor"  <%= a.id ? 'disabled' : '' %>>
                                                            <%- a.design ? a.design : '' %></textarea>
                                                        </div>
                                                        </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!--Past your code here ends-->
                                    </div>
                                </div>
                                <div class="form-group mt-1 mb-3 text-right">

                                    <button type="button" class="btn-success btn-style btn mt-3 mr-2" id="mod-btn" onclick="updateQuery()" ><strong><i
                                                class="fa-regular fa-pen-to-square"></i> Modify</strong></button>

                                    <button type="button" class="btn-secondary btn-style btn mt-3 mr-2" disabled><strong><i
                                                class="fa-solid fa-plus"></i> New</strong></button>

                                    <button type="button" class="btn-danger btn-style btn mt-3 mr-2" onclick="window.location.href='/pathology/7'"><strong><i
                                                class="fas fa-times"></i> Cancel</strong></button>

                                    <button type="submit"  id='submit'class="btn-primary btn-style btn mt-3"><strong><i
                                                class="far fa-save"></i>
                                            Save</strong></button>

                                </div>
                            </form>
                            <div id="loadingIndicator"></div>
                        </div>
                        <!--footer section start-->
<%- include('../footer'); -%>
<script>
    function updateQuery(){
        document.getElementById('query').value=1;
        $('#mod-btn').prop('disabled', true);   
        $('input[data-validation], select[data-validation] ,textarea[data-validation]').prop('disabled', false);
    
        document.getElementById('submit').disabled = false;
      }
      if('<%= a.id %>'!==''){
        $('input[data-validation], select[data-validation],textarea[data-validation]').prop('disabled', true);
    
        
      }else{
       
        document.getElementById('mod-btn').disabled=true;
      }
</script>

    <script type="module">
        import { pagi_search } from '../javascripts/pagi_search.js';
        import { validateForm } from '../javascripts/validation.js';
        import { myAjax } from '../javascripts/myAjax.js';
        $(document).ready(function () {
            console.log("Document is ready");
            $('#TestCateg').on('submit', function (event) {
                event.preventDefault()
                const { isValid, errorMessage, formData } = validateForm('#TestCateg')
                console.log(formData)
                const errorDivId = '#errordiv1'
                if (isValid) {
                    const url = '/pathology/TemplateMasterSubmit';
                    const loadingDiv = '#loadingIndicator'
                    myAjax(formData, errorDivId, url, loadingDiv)
                } else {
                    alert(errorMessage);
                    $(errorDivId).removeClass('alert-success').addClass('alert-danger').text(errorMessage).show();
                    // $(errorDivId).text(errorMessage).show();
                }
            })
     });
    </script>