<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>LifeLinker</title>

    <!-- Template CSS -->
   <%- include('../header'); -%>


        <!-- //header-ends -->
        <!-- main content start -->
        <div class="main-content">

            <div class="row content-top-gap2">
                <div class="col-lg-12">
                    <nav class="navbar navbar-expand-lg navbar-light bg-white">
                        <a class="navbar-brand text-center mr-5" href="#">
                            <span class="dash-icon"><i class="fas fa-tachometer-alt"></i></span>
                            Dashboard
                        </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav">
                                <li class="nav-item active text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="far fa-user"></i></span>
                                        Master
                                    </a>
                                </li>
                                <li class="nav-item text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="fas fa-exchange-alt"></i></span>
                                        Transaction
                                    </a>
                                </li>
                                <li class="nav-item text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="fas fa-hand-holding-medical"></i></span>
                                        Patient 360
                                    </a>
                                </li>
                                <li class="nav-item text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="fas fa-receipt"></i></span>
                                        Outside Reciept
                                    </a>
                                </li>
                                <li class="nav-item text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="fas fa-file-invoice"></i></span>
                                        Outpatient Department
                                    </a>
                                </li>
                                <li class="nav-item text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="fas fa-chart-line"></i></span>
                                        Analytics
                                    </a>
                                </li>
                                <li class="nav-item text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="far fa-clock"></i></span>
                                        Waiting List
                                    </a>
                                </li>
                                <li class="nav-item text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="fas fa-wrench"></i></span>
                                        Adminstration
                                    </a>
                                </li>
                                <li class="nav-item text-center">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="fas fa-spinner"></i></span>
                                        Additional
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
            <!-- content -->
            <div class="container-fluid">
                <div id="errordiv1"></div>
                <form id="BCbulkRateChangr" method="post" class="mt-2">
<input type="hidden" name="query" id="query" value="0">
                <div class="chart">
                    <div class="row">

                        <div class="col-lg-12 pl-lg-0 mt-2 ml-2">
                            <h4 class="primary">Bulk Rate Change</h4>
                        </div>
                        
                        <!--section2-->

                        <div class="mt-1 col-lg-6 pl-lg-2">
                            <div class="card card_border">
                                <div class="mb-2">
                                    <div class="form-group">
                                        <div class="col-xl-12 p-heading">
                                            <h6 class="p-text">LIST OF TERIFF</h6>
                                        </div>
                                    </div>
                                </div>
                               
                                <div class="form-row">
                                    <div class="col-12 mb-3  pl-lg-3 pr-lg-3">


                                        <div>
                                            <h6 class="primary">Advance Filter</h6>
                                        </div>
                                        <div class="form-row mb-2">
                                            <div class="col-12">
                                                <div class="form-group"><label class="input__label">Tariff</label><input
                                                        name="code" type="text" class="form-control input-style" id="searchBox"
                                                        placeholder="" >
                                                </div>
                                            </div>

                                        </div>

                                        <div class="slidx">
                                            <table class="table2" id="bcExp">
                                                <thead>
                                                    <tr>
                                                        <th contenteditable="true" width="20%">Select
                                                        </th>
                                                        <th contenteditable="true" width="50%">Code</th>
                                                        <th contenteditable="true" width="50%">Name</th>
                                                       
                                                    </tr>
                                                </thead>
                                                <tbody id="exp-table">


                                                </tbody>
                                            </table>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mt-1 col-lg-6">
                            <div class="card card_border">
                                <div class="mb-2">
                                    <div class="form-group">
                                        <div class="col-xl-12 p-heading">
                                            <h6 class="p-text">LIST OF SELECTED TERIFF</h6>
                                        </div>
                                    </div>
                                </div>


                                <div class="form-row">

                                    <div class="col-12 mb-3 pl-lg-3 pr-lg-3">








                                        <div class="slidx">
                                            <table class="table2">
                                                <thead>
                                                    <tr>
                                                        <th contenteditable="true" width="40%">Tariff Code</th>
                                                        <th contenteditable="true" width="40%">Tariff Name</th>
                                                        <th contenteditable="true">Delete</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="apnd">

                                                </tbody>
                                            </table>
                                        </div>
                                        <div id="paginationControls"></div>
                                    </div>
                                </div>


                            </div>


                        </div>
                       
                        <div class="">
                            <div class="col-xl-12 mb-4">
                            <h6 class="primary mt-2">Specilization Selection</h6>
                            
                            <h6 class="primary mt-2">Rate Selection</h6>
                          
                              <div class="row">
    <div class="col-xl-4">
        <div class="form-group">
            <div class="">
                <input class="mt-1" type="radio" name="rateType" id="rateAmount" value="amt">
                <label class="form-check-label ml-2 mt-1" for="rateAmount">Rate Amount Wise</label>&nbsp;
                
                <input class="mt-1" type="radio" name="rateType" id="ratePercentage" value="pct">
                <label class="form-check-label ml-2 mt-1" for="ratePercentage">Rate Percentage Wise</label>
                
                <input type="text" class="form-control input-style" id="rateInput">
            </div>
        </div>
    </div>
    <div class="col-xl-2 pr-xl-2">
        <div class="form-group">
            <label for="operationType" class="input__label">Operation Type</label>
            <select class="form-control input-style" id="operationType">
                <option value="add">Addition</option>
                <option value="subtract">Subtraction</option>
            </select>
        </div>
    </div>
    <div class="col-xl-3 pr-xl-2">
        <button type="button" class="btn btn-primary btn-style btn-change mt-4" id="applyToAll">Apply To All SubSpecialization</button>
    </div>
</div>
               <div class="col-xl-12 mt-3 pr-xl-0 pl-xl-0">
                       <div class="row">
                       
                       <div class="col-xl-6 pr-xl-0">
                        <tr>
                            <th colspan="3">List of Specilization</th>
                            </tr>
                       <table class="table2 text-left">
                       
                       <thead>            
                     <th>Select</th>
                       <th>SubSpecilization</th>
                       </thead>
                      
                       <tbody id="specializationTable" ></tbody>
                       
                       
                       </table>
                       
                           </form>
                           </div>
                           
                       <div class="col-xl-6 pl-xl-1 pr-xl-2">		
                        <table class="table2 text-left">
                            <thead>
                                <tr>
                                    <th>SubSpecialization</th>
                                    <th>Amount/Percent</th>
                                    <th>Rate</th>
                                    <th>Operation Type</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
                            <tbody id="subSpecializationTable">
                                <!-- Selected SubSpecializations will be populated here -->
                            </tbody>
                        </table>
                           </form>
                           </div>
                       
                           <div class="mt-1 col-lg-12 pl-lg-2 mt-4">
                            <div class="card card_border">
                                <!-- <div class="mb-3">
                                    <div class="form-group">
                                        <div class="col-xl-12 p-heading">
                                            <h6 class="p-text">LIST OF SELECTED TERIFF</h6>
                                        </div>
                                    </div>
                                </div> -->


                                <div class="form-row">

                                    <div class="col-12 mb-3 pl-lg-3 pr-lg-3">
                                        <div class="form-row">
                                            <div class="col-4">
                                                <div class="form-group">
                                                    <label class="input__label">Remarks</label>
                                                    <textarea name="remarks" id="remarks" class="form-control input-style" placeholder=""    value="<%= result.remarks %>"data-validation="required" data-error-message="Remarks is required"></textarea>
                                                </div>
                                            </div>
                                    
                                            <div class="col-4">
                                                <div class="row text-left">
                                                    <div class="col-6 mt-3 py-3 px-5">
                                                        <input class="form-check-input" type="checkbox" id="effectiveDateCheck" data-validation="required" data-error-message="Effective Date is required">
                                                        <label class="form-check-label mr-5" for="effectiveDateCheck">Effective Date</label>
                                                    </div>
                                    
                                                    <div class="col-6 py-2 px-6">
                                                        <div class="form-group">
                                                            <input name="effectiveDate" id="effectiveDate" type="date" value="<%= result.effectiveDate %>"  class="form-control   input-style" placeholder="" data-validation="required" data-error-message="Effective Date is required">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                    
                                            <div class="col-4 mt-3 py-3 pr-4">
                                                <div class="form-group text-right">
                                                    <input class="form-check-input" type="checkbox" id="freezeCheck" data-validation value="<%= result.freeze  %>">
                                                    <label class="form-check-label mr-5" for="freezeCheck">Is Freeze</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>


                            </div>


                        </div>
                       
                           </div>

                         

                    </div>
                    <div class="form-group mt-1 mb-3 text-right">

                        <button type="button" class="btn-success btn-style btn mt-3 mr-2" id="mod-btn" onclick="updateQuery()"><strong><i
                                    class="fa-regular fa-pen-to-square"></i> Modify</strong></button>

                        <button type="button" class="btn-secondary btn-style btn mt-3 mr-2" disabled><strong><i
                                    class="fa-solid fa-plus"></i> New</strong></button>

                        <button type="button" class="btn-danger btn-style btn mt-3 mr-2"
                            onclick="window.location.href='/billing/21'"><strong><i class="fas fa-times"></i>
                                Cancel</strong></button>

                        <button type="submit" id="submit" class="btn-primary btn-style btn mt-3"><strong><i class="far fa-save"></i>
                                Save</strong></button>
                    </div>

                    </form>

                </div>
                <!--footer section start-->
               <%- include('../footer'); -%>

                    <script src="../javascripts/statusUpdate.js"></script>
                    <script src="../javascripts/pageUpdate.js"></script>
                    
                    <script type="module">
                        import { pagi_search } from '../javascripts/pagi_search.js';

                        // console.log(statusUpdate);
                        $(document).ready(function () {
                            // Function to fetch and display data
                            function fetchData() {
                                $.ajax({
                                    url: '/billing/get_tariff_master',
                                    type: 'GET',
                                    success: function (data) {
                                        data.reverse();
                                        let tableRows = '';
                                        data.forEach(function (item) {
                                            tableRows += `
                                           <tr>
    <td><input type="checkbox" class="tariff-checkbox" value="${item.trf_code}"></td>
    <td>${item.trf_code}</td>
    <td>${item.trf_name}</td>
</tr>

                                            `;
                                        });
                                        $('#exp-table').html(tableRows);
                                        pagi_search('#searchBox', '#bcExp', '#paginationControls');
                                    },
                                    error: function (xhr, status, error) {
                                        console.error('Error fetching classification details:', error);
                                    }
                                });
                            }
                            fetchData();
                        });
                    </script>



<script type="module">
    import { validateForm } from '../javascripts/validation.js';
    import { myAjax } from '../javascripts/myAjax.js';

    $(document).ready(function () {
        // Function to append rows to the "List of Selected Tariff" table
        function appendRow(trfCode, trfName) {
            var row = `<tr>
                        <td>${trfCode}</td>
                        <td>${trfName}</td>
                        <td><button class="delete-tariff btn-danger btn-style btn mt-3 mr-2">Delete</button></td>
                    </tr>`;
            $('#apnd').append(row);
        }

        // Apply changes to all rows in subSpecializationTable
        $('#applyToAll').on('click', function() {
            const rateType = $('input[name="rateType"]:checked').val();
            const rate = $('#rateInput').val();
            const operationType = $('#operationType').val();

            $('#subSpecializationTable tr').each(function() {
                $(this).find(`input[name="amtPct${$(this).data('sub-spec-code')}"][value="${rateType}"]`).prop('checked', true);
                $(this).find('input[type="text"]').val(rate);
                $(this).find(`input[name="addSubtract${$(this).data('sub-spec-code')}"][value="${operationType}"]`).prop('checked', true);
            });
        });

        // Checkbox change handler for adding or removing tariffs
        $('#exp-table').on('change', '.tariff-checkbox', function() {
            var trfCode = $(this).closest('tr').find('td:eq(1)').text();
            var trfName = $(this).closest('tr').find('td:eq(2)').text();
            if (this.checked) {
                appendRow(trfCode, trfName);
            } else {
                $('#apnd').find('tr').each(function() {
                    if ($(this).find('td:eq(0)').text() === trfCode) {
                        $(this).remove();
                    }
                });
            }
        });

        // Event handler for deleting a tariff from the "List of Selected Tariff" table
        $('#apnd').on('click', '.delete-tariff', function() {
            var trfCode = $(this).closest('tr').find('td:eq(0)').text();
            $(this).closest('tr').remove();
            // Uncheck the corresponding checkbox in the "List of Tariff" table
            $('#exp-table').find('.tariff-checkbox').each(function() {
                if ($(this).closest('tr').find('td:eq(1)').text() === trfCode) {
                    $(this).prop('checked', false);
                }
            });
        });

        $.ajax({
            url: '/billing/reloadSpec',
            type: 'GET',
            dataType: 'json',
            success: function (specData) {
                populateSpecializations(specData);
            },
            error: function (xhr, status, error) {
                console.error("Error fetching specializations:", status, error);
                alert("Error fetching specializations: " + status + " " + error);
            }
        });

        function populateSpecializations(specData) {
            let specializationTable = $('#specializationTable');
            specializationTable.empty();
            specData.forEach(spec => {
                fetchSubSpecializations(spec.spec_code, specializationTable, spec.spec_desc);
            });
        }

        // Fetch and display the sub-specializations linked with the specialization
       // Fetch and display the sub-specializations linked with the specialization
function fetchSubSpecializations(specCode, specializationTable, specDesc) {
    $.ajax({
        url: `/billing/reloadSubSpec?spec_desc=${specDesc}`, // Corrected to use template literal
        type: 'GET',
        dataType: 'json',
        success: function (subSpecData) {
            populateSubSpecializations(subSpecData, specializationTable, specDesc);
        },
        error: function (xhr, status, error) {
            console.error("Error fetching sub-specializations:", status, error);
        }
    });
}

function checkIfSelected(desc, bulkRateChange) {
        return bulkRateChange && bulkRateChange.some(change => change.sub_spec_desc.includes(desc));
    }

function populateSubSpecializations(subSpecData, specializationTable, specDesc) {
        let specRow = `<tr><td colspan="3"><i class="fas fa-caret-down"></i> Specialization Name: ${specDesc}</td></tr>`;
        specializationTable.append(specRow);

        subSpecData.forEach(subSpec => {
            subSpec.sub_spec_desc.forEach(desc => {
                let checked = checkIfSelected(desc, result.bulkRateChange); // Check if this sub-specialization should be checked
                let subSpecRow = `
                    <tr data-sub-spec-code="${subSpec.sub_spec_code}">
                        <td><input class="select-sub-spec mt-3 mr-2" type="checkbox" data-sub-spec-code="${subSpec.sub_spec_code}" data-sub-spec-desc="${desc}" data-validation ${checked ? 'checked' : ''}></td>
                        <td>${desc}</td>
                    </tr>
                `;
                specializationTable.append(subSpecRow);
            });
        });


    // Add event listener to select buttons
    $('.select-sub-spec').off('change').on('change', function () {
        let subSpecCode = $(this).data('sub-spec-code');
        let subSpecDesc = $(this).data('sub-spec-desc');
        if (this.checked) {
            addSubSpecializationToTable(subSpecCode, subSpecDesc);
        } else {
            removeSubSpecializationFromTable(subSpecCode);
        }
    });
}

function addSubSpecializationToTable(subSpecCode, subSpecDesc) {
    let subSpecializationTable = $('#subSpecializationTable');
    // Check if the sub-specialization is already added
    if (subSpecializationTable.find(`tr[data-sub-spec-code="${subSpecCode}"]`).length === 0) {
        let row = `
            <tr data-sub-spec-code="${subSpecCode}">
                <td>${subSpecDesc}</td>
                <td>
                    <input type="radio" name="amtPct${subSpecCode}" value="amt"> Amt
                    <input type="radio" name="amtPct${subSpecCode}" value="pct"> Pct
                </td>
                <td><input type="text" class="form-control" placeholder="Rate"></td>
                <td>
                    <input type="radio" name="addSubtract${subSpecCode}" value="add"> Add
                    <input type="radio" name="addSubtract${subSpecCode}" value="subtract"> Subtract
                </td>
                <td><button class="btn btn-danger delete-sub-spec">X</button></td>
            </tr>
        `;
        subSpecializationTable.append(row);

        // Add event listener to delete buttons
        $('.delete-sub-spec').off('click').on('click', function () {
            $(this).closest('tr').remove();
            $(`.select-sub-spec[data-sub-spec-code="${subSpecCode}"]`).prop('checked', false);
        });
    }
}

function removeSubSpecializationFromTable(subSpecCode) {
    $(`#subSpecializationTable tr[data-sub-spec-code="${subSpecCode}"]`).remove();
}

        // Form submission event
        $('#BCbulkRateChangr').on('submit', function (event) {
            event.preventDefault();
            
            const selectedTariffs = $('#apnd tr').map(function() {
                return {
                    trf_code: $(this).find('td:eq(0)').text(),
                    trf_name: $(this).find('td:eq(1)').text()
                };
            }).get();

            const { isValid, errorMessage, formData } = validateForm('#BCbulkRateChangr');

            if (isValid) {
                formData['selectedTariffs'] = selectedTariffs;

                const subSpecializations = $('#subSpecializationTable tr').map(function() {
                    return {
                        sub_spec_code: $(this).data('sub-spec-code'),
                        sub_spec_desc: $(this).find('td:eq(0)').text(),
                        rate_type: $(this).find('input[name="amtPct' + $(this).data('sub-spec-code') + '"]:checked').val(),
                        rate: $(this).find('input[type="text"]').val(),
                        operation_type: $(this).find('input[name="addSubtract' + $(this).data('sub-spec-code') + '"]:checked').val()
                    };
                }).get();

                formData['bulkRateChange'] = subSpecializations;

                // Collect additional fields
                formData['remarks'] = $('#remarks').val();
                formData['effectiveDate'] = $('#effectiveDateCheck').is(':checked') ? $('#effectiveDate').val() : null;
                formData['freeze'] = $('#freezeCheck').is(':checked');
                formData['query'] = $('#query').val();
                console.log(formData);

                $.ajax({
                    url: '/billing/bc-bl-rate-change',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify(formData),
                    success: function(response) {
                        alert("Form submitted successfully");
                        $('#errordiv1').removeClass('alert-danger').addClass('alert-success').text(response.message).show();
                    },
                    error: function(xhr) {
                        const response = JSON.parse(xhr.responseText);
                        alert(response.message);
                        $('#errordiv1').removeClass('alert-success').addClass('alert-danger').text(response.message).show();
                    }
                });
            } else {
                alert(errorMessage);
                $('#errordiv1').removeClass('alert-success').addClass('alert-danger').text(errorMessage).show();
            }
        });

        // Function to update the query value
        
    });
</script>

<script>
    // Ensure appendRow is defined
    function appendRow(trfCode, trfName) {
        var row = `<tr>
                    <td>${trfCode}</td>
                    <td>${trfName}</td>
                    <td><button class="delete-tariff btn-danger btn-style btn mt-3 mr-2">Delete</button></td>
                </tr>`;
        $('#apnd').append(row);
    }

    // Ensure addSubSpecializationToTable is defined
    function addSubSpecializationToTable(subSpecCode, subSpecDesc) {
        let subSpecializationTable = $('#subSpecializationTable');
        // Check if the sub-specialization is already added
        if (subSpecializationTable.find(`tr[data-sub-spec-code="${subSpecCode}"]`).length === 0) {
            let row = `
                <tr data-sub-spec-code="${subSpecCode}">
                    <td>${subSpecDesc}</td>
                    <td>
                        <input type="radio" name="amtPct${subSpecCode}" value="amt"> Amt
                        <input type="radio" name="amtPct${subSpecCode}" value="pct"> Pct
                    </td>
                    <td><input type="text" class="form-control" placeholder="Rate"></td>
                    <td>
                        <input type="radio" name="addSubtract${subSpecCode}" value="add"> Add
                        <input type="radio" name="addSubtract${subSpecCode}" value="subtract"> Subtract
                    </td>
                    <td><button class="btn btn-danger delete-sub-spec">X</button></td>
                </tr>
            `;
            subSpecializationTable.append(row);

            // Add event listener to delete buttons
            $('.delete-sub-spec').off('click').on('click', function () {
                $(this).closest('tr').remove();
                $(`.select-sub-spec[data-sub-spec-code="${subSpecCode}"]`).prop('checked', false);
            });
        }
    }

   
    const result = JSON.parse('<%- JSON.stringify(result) %>');
  
    if (typeof result !== 'undefined' && result.id) {
        // Populate selected tariffs
        const selectedTariffs = result.TariffCode.split(', ').map((code, index) => ({
            trf_code: code,
            trf_name: result.TariffName.split(', ')[index]
        }));
        selectedTariffs.forEach(tariff => appendRow(tariff.trf_code, tariff.trf_name));

        // Populate bulk rate changes
        const bulkRateChanges = result.bulkRateChange;

        bulkRateChanges.forEach(change => {
            addSubSpecializationToTable(change.sub_spec_code, change.sub_spec_desc);
            const row = $(`#subSpecializationTable tr[data-sub-spec-code="${change.sub_spec_code}"]`);
            row.find(`input[name="amtPct${change.sub_spec_code}"][value="${change.rate_type}"]`).prop('checked', true);
            row.find('input[type="text"]').val(change.rate);
            row.find(`input[name="addSubtract${change.sub_spec_code}"][value="${change.operation_type}"]`).prop('checked', true);
        });

        $('#remarks').val(result.remarks);
        $('#effectiveDateCheck').prop('checked', !!result.effectiveDate);
        if (result.effectiveDate) {
            const date = new Date(result.effectiveDate);
            const formattedDate = date.toISOString().split('T')[0]; // Format date as yyyy-mm-dd
            $('#effectiveDate').val(formattedDate);
        }
        $('#freezeCheck').prop('checked', !!result.freeze);
        $('#query').val(1); // Set query to 1 for modify mode
      
    }
</script>
<script>
    function updateQuery() {
            document.getElementById('query').value = 1;
            $('#mod-btn').prop('disabled', true);   
            $('input[data-validation], select[data-validation], textarea[data-validation]').prop('disabled', false);
            document.getElementById('submit').disabled = false;
        }

        if ('<%= result.id %>' !== '') {
            $('input[data-validation], select[data-validation], textarea[data-validation]').prop('disabled', true); 
        }

        if ('<%= result.status %>' !== 'true') {
            document.getElementById('mod-btn').disabled = true;
        } else {
            document.getElementById('submit').disabled = false;
        }
</script>



    