<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>LifeLinker</title>

    <%- include('../header'); -%>
        <!-- main content start -->
        <div class="main-content">

            <div class="row content-top-gap2">
                <div class="col-lg-12">
                    <nav class="navbar navbar-expand-lg navbar-light bg-white">
                        <a class="navbar-brand text-center mr-5" href="#">
                            <span class="dash-icon"><i class="fas fa-tachometer-alt"></i></span>
                            Dashboard
                        </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav">
                                <li class="nav-item active text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="far fa-user"></i></span>
                                        Master
                                    </a>
                                </li>
                                <li class="nav-item text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="fas fa-exchange-alt"></i></span>
                                        Transaction
                                    </a>
                                </li>
                                <li class="nav-item text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="fas fa-hand-holding-medical"></i></span>
                                        Patient 360
                                    </a>
                                </li>
                                <li class="nav-item text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="fas fa-receipt"></i></span>
                                        Outside Reciept
                                    </a>
                                </li>
                                <li class="nav-item text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="fas fa-file-invoice"></i></span>
                                        Outpatient Department
                                    </a>
                                </li>
                                <li class="nav-item text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="fas fa-chart-line"></i></span>
                                        Analytics
                                    </a>
                                </li>
                                <li class="nav-item text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="far fa-clock"></i></span>
                                        Waiting List
                                    </a>
                                </li>
                                <li class="nav-item text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="fas fa-wrench"></i></span>
                                        Adminstration
                                    </a>
                                </li>
                                <li class="nav-item text-center">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="fas fa-spinner"></i></span>
                                        Additional
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
            <!-- content -->
            <div class="container-fluid">
                <form id="BC-ser-master">
                    <input type="hidden" id="query" name="query" value="0">
                    <div class="chart">
                        <div class="row">

                            <div class="col-lg-12 pl-lg-0 mt-2 ml-2">
                                <h4 class="primary">Service Master</h4>
                            </div>
                            <div class="col-lg-12 pl-lg-2 chart-grid">

                                <div id="errordiv1"></div>
                                <div class="card card_border">
                                    <div>
                                        <!--Past your code here starts-->

                                        <div class="card">
                                            <div class="col-xl-12 p-heading">
                                                <h6 class="p-text">SERVICE DETAILS</h6>
                                            </div>
                                            <div class="card-body">
                                                <div class="form-row">
                                                    <div class="col-md-3 mb-3">
                                                        <div class="form-group">
                                                            <label class="input__label">Service Code</label>
                                                            <input name="serviceCode" id="serviceCode" type="text" class="form-control input-style" placeholder="" data-validation="required" data-error-message="Service Code is required" 
                                                            value="<%= result.serviceCode %>" <%= result.id ? 'disabled' : '' %>>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3 mb-3">
                                                        <div class="form-group">
                                                            <label class="input__label">Code Type</label>
                                                            <input name="codeType" type="text" class="form-control input-style" placeholder="" data-validation="required" data-error-message="Code Type is required"   value="<%= result.codeType %>" <%= result.id ? 'disabled' : '' %>>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3 mb-3">
                                                        <div class="form-group">
                                                            <label class="input__label">Code Details</label>
                                                            <input name="codeDetails" type="text" class="form-control input-style" placeholder="" data-validation="required" data-error-message="Code Details are required"value="<%= result.codeDetails %>" <%= result.id ? 'disabled' : '' %> >
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3 mb-3">
                                                        <div class="form-group">
                                                            <label class="input__label">Specialization</label>
                                                            <select name="specialization" class="form-control input-style" data-validation="required" data-error-message="Specialization is required" <%= result.id ? 'disabled' : '' %>>
                                                                <option value="">Select</option>
                                                                <option value="<%= result.specialization %>" <%= result.specialization ? 'Selected' : 'hidden' %>><%= result.specialization %></option>
                                                                
                                                                
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3 mb-3">
                                                        <div class="form-group">
                                                            <label class="input__label">Sub-Specialization</label>
                                                            <select name="subSpecialization" class="form-control input-style" data-validation="required" data-error-message="Sub-Specialization is required"  <%= result.id ? 'disabled' : '' %>   >
                                                                <option value="">Select</option>
                                                                <option value="<%= result.subSpecialization %>" <%= result.subSpecialization ? 'Selected' : 'hidden' %>><%= result.subSpecialization %></option>
                                                               
                                                            </select>
                                                        </div>  
                                                    </div>
                                                    <div class="col-md-3 mb-3">
                                                        <div class="form-group">
                                                            <label class="input__label">SAC Code</label>
                                                            <input name="sacCode" type="text" class="form-control input-style" placeholder="" data-validation="required" data-error-message="SAC Code is required" value="<%= result.sacCode %>" <%= result.id ? 'disabled' : '' %>>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3 mb-3">
                                                        <div class="form-group">
                                                            <label class="input__label">Short Description</label>
                                                            <input name="shortDescription" type="text" class="form-control input-style" placeholder="" data-validation="required" data-error-message="Short Description is required" value="<%= result.shortDescription %>" <%= result.id ? 'disabled' : '' %>>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3 mb-3">
                                                        <div class="form-group">
                                                            <label class="input__label">Long Description</label>
                                                            <input name="longDescription" type="text" class="form-control input-style" placeholder="" data-validation="required" data-error-message="Long Description is required" value="<%= result.longDescription %>" <%= result.id ? 'disabled' : '' %>>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3 mb-3">
                                                        <div class="form-group">
                                                            <label class="input__label">Service Name</label>
                                                            <input name="serviceName" type="text" class="form-control input-style" placeholder="" data-validation="required" data-error-message="Service Name is required" value="<%= result.serviceName %>" <%= result.id ? 'disabled' : '' %>>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3 mb-3">
                                                        <div class="form-group">
                                                            <label class="input__label">Base Service Rate</label>
                                                            <input name="baseServiceRate" type="number"  id ="packageRate"class="form-control input-style" placeholder="" data-validation="required" data-error-message="Base Service Rate is required" value="<%= result.baseServiceRate %>" <%= result.id ? 'disabled' : '' %>>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <!--Past your code here ends-->
                                    </div>
                                </div>
                            </div>
                            <!--section2-->

                            <div class="mt-1 col-lg-7 pl-lg-2">
                                <div class="card card_border">
                                    <div class="mb-1">
                                        <div class="form-group">
                                            <div class="col-xl-12 p-heading">
                                                <h6 class="p-text">RULES</h6>
                                            </div>
                                        </div>
                                    </div>
                            
                                    <div class="form-row">
                                        <div class="col-12 mb-1 pl-lg-3 pr-lg-3">
                                            <div class="form-row">
                                                <div class="col-md-4 mb-3">
                                                    <div class="form-check-label">
                                                        <div class="radio mt-4">
                                                            <input class="form-check-input" type="checkbox" name="inHouse" data-validation id="inHouse"   <%= result.inHouse == 'yes' ? 'checked' : '' %>>
                                                            <label class="form-check-label mr-5" for="inHouse">In House</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 mb-1">
                                                    <div class="form-group">
                                                        <label class="input__label">%</label>
                                                        <input name="inHouse_per" id="inHouse_per" data-validation  type="text" class="form-control input-style" placeholder="" value="<%= result.inHouse_per %>" <%= result.id ? 'disabled' : '' %>>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 mb-1">
                                                    <div class="form-group">
                                                        <label class="input__label">Amount</label>
                                                        <input name="inHouse_amount" data-validation  id="inHouse_amount" type="number" class="form-control input-style" placeholder="" value="<%= result.inHouse_amount %>" <%= result.id ? 'disabled' : '' %>>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 mb-1">
                                                    <div class="form-check-label">
                                                        <div class="radio mt-4">
                                                            <input class="form-check-input" name="service_tax" id="service_tax" data-validation type="checkbox"   <%= result.service_tax == 'yes' ? 'checked' : '' %> >
                                                            <label class="form-check-label mr-5" for="service_tax">Service Tax</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 mb-1">
                                                    <div class="form-group">
                                                        <label class="input__label">%</label>
                                                        <input name="service_per" data-validation id="service_per" type="text" class="form-control input-style" placeholder="" value="<%= result.service_per %>" <%= result.id ? 'disabled' : '' %>>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 mb-1">
                                                    <div class="form-group">
                                                        <label class="input__label">Amount</label>
                                                        <input name="service_amount" data-validation  id="service_amount" type="text" class="form-control input-style" placeholder="" value="<%= result.service_amount %>" <%= result.id ? 'disabled' : '' %>>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 mb-1">
                                                    <div class="form-check-label">
                                                        <div class="radio mt-4">
                                                            <input class="form-check-input" type="checkbox" name="staffDiscount" data-validation id="staffDiscount" <%= result.staffDiscount == 'yes' ? 'checked' : '' %> >
                                                            <label class="form-check-label mr-5" for="staffDiscount">Staff Discount</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 mb-1">
                                                    <div class="form-group">
                                                        <label class="input__label">%</label>
                                                        <input name="staffDiscount_per" data-validation id="staffDiscount_per" type="text" class="form-control input-style" placeholder="" value="<%= result.staffDiscount_per %>" <%= result.id ? 'disabled' : '' %>>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 mb-1">
                                                    <div class="form-group">
                                                        <label class="input__label">Amount</label>
                                                        <input name="staffDiscount_amount" data-validation id="staffDiscount_amount" type="text" class="form-control input-style" placeholder="" value="<%= result.staffDiscount_amount %>" <%= result.id ? 'disabled' : '' %>>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 mb-1">
                                                    <div class="form-check-label">
                                                        <div class="radio mt-4">
                                                            <label class="form-check-label">
                                                                <input name="staffParentAccount" id="staffParentAccount" class="form-check-input"  data-validation type="checkbox" <%= result.staffParentAccount == 'yes' ? 'checked' : '' %>>Staff Parent Account
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 mb-1">
                                                    <div class="form-group">
                                                        <label class="input__label">%</label>
                                                        <input name="staffParent_per" data-validation id="staffParent_per" type="text" class="form-control input-style" placeholder="" value="<%= result.staffParent_per %>" <%= result.id ? 'disabled' : '' %>>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 mb-1">
                                                    <div class="form-group">
                                                        <label class="input__label">Amount</label>
                                                        <input name="staffParent_amount" data-validation id="staffParent_amount" type="text" class="form-control input-style" placeholder="" value="<%= result.staffParent_amount %>" <%= result.id ? 'disabled' : '' %>>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 mb-1">
                                                    <div class="form-check-label">
                                                        <div class="radio mt-4">
                                                            <label class="form-check-label">
                                                                <input name="concession" id="concession" class="form-check-input" type="checkbox"  data-validation <%= result.concession == 'yes' ? 'checked' : '' %>>Concession
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 mb-1">
                                                    <div class="form-group">
                                                        <label class="input__label">%</label>
                                                        <input name="concession_per" data-validation id="concession_per" type="text" class="form-control input-style" placeholder="" value="<%= result.concession_per %>" <%= result.id ? 'disabled' : '' %>>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 mb-1">
                                                    <div class="form-group">
                                                        <label class="input__label">Amount</label>
                                                        <input name="concession_amount" data-validation id="concession_amount" type="text" class="form-control input-style" placeholder="" value="<%= result.concession_amount %>" <%= result.id ? 'disabled' : '' %>>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 mb-1">
                                                    <div class="form-check-label">
                                                        <div class="radio mt-4">
                                                            <label class="form-check-label">
                                                                <input name="doctor" id="doctor" class="form-check-input" type="checkbox" data-validation <%= result.doctor == 'yes' ? 'checked' : '' %>>Doctor Share
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 mb-1">
                                                    <div class="form-group">
                                                        <label class="input__label">%</label>
                                                        <input name="doctor_per" data-validation id="doctor_per" type="text" class="form-control input-style" placeholder="" value="<%= result.doctor_per %>" <%= result.id ? 'disabled' : '' %>>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 mb-1">
                                                    <div class="form-group">
                                                        <label class="input__label">Amount</label>
                                                        <input name="doctor_amount" data-validation id="doctor_amount" type="text" class="form-control input-style" placeholder="" value="<%= result.doctor_amount %>" <%= result.id ? 'disabled' : '' %>>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 mb-1">
                                                    <div class="form-check-label">
                                                        <div class="radio mt-4">
                                                            <label class="form-check-label">
                                                                <input name="rateEditable" id="rateEditable" class="form-check-input"  data-validation type="checkbox" <%= result.rateEditable == 'yes' ? 'checked' : '' %>>Rate Editable
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 mb-1">
                                                    <div class="form-group">
                                                        <label class="input__label">%</label>
                                                        <input name="rateEditable_per" data-validation id="rateEditable_per" type="text" class="form-control input-style" placeholder="" value="<%= result.rateEditable_per %>" <%= result.id ? 'disabled' : '' %>>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 mb-1">
                                                    <div class="form-group">
                                                        <label class="input__label">Amount</label>
                                                        <input name="rateEditable_amount" data-validation id="rateEditable_amount" type="text" class="form-control input-style" placeholder="" value="<%= result.rateEditable_amount %>" <%= result.id ? 'disabled' : '' %>>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 mb-1">
                                                    <div class="form-check-label">
                                                        <div class="radio mt-4">
                                                            <label class="form-check-label">
                                                                <input name="S_Citizen_Con" id="S_Citizen_Con" class="form-check-input"  data-validation type="checkbox" <%= result.S_Citizen_Con == 'yes' ? 'checked' : '' %>>Senior Citizen Concession
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 mb-1">
                                                    <div class="form-group">
                                                        <label class="input__label">%</label>
                                                        <input name="S_Citizen_per" data-validation id="S_Citizen_per" type="text" class="form-control input-style" placeholder="" value="<%= result.S_Citizen_per %>" <%= result.id ? 'disabled' : '' %>>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 mb-1">
                                                    <div class="form-group">
                                                        <label class="input__label">Amount</label>
                                                        <input name="S_Citizen_amount" data-validation id="S_Citizen_amount" type="text" class="form-control input-style" placeholder="" value="<%= result.S_Citizen_amount %>" <%= result.id ? 'disabled' : '' %>>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 mb-1">
                                                    <div class="form-check-label">
                                                        <div class="radio mt-4">
                                                            <label class="form-check-label">
                                                                <input name="luxuryTax" id="luxuryTax" class="form-check-input" type="checkbox"  data-validation <%= result.luxuryTax == 'yes' ? 'checked' : '' %>>Luxury Tax
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 mb-1">
                                                    <div class="form-group">
                                                        <label class="input__label">%</label>
                                                        <input name="luxuryTax_per"  data-validation id="luxuryTax_per" type="text" class="form-control input-style" placeholder="" value="<%= result.luxuryTax_per %>" <%= result.id ? 'disabled' : '' %>>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 mb-1">
                                                    <div class="form-group">
                                                        <label class="input__label">Amount</label>
                                                        <input name="luxuryTax_amount" data-validation id="luxuryTax_amount" type="text" class="form-control input-style" placeholder="" value="<%= result.luxuryTax_amount %>" <%= result.id ? 'disabled' : '' %>>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            


                            <div class="mt-1 col-lg-5">
                                <div class="card card_border">
                                    <div class="mb-3">
                                        <div class="form-group">
                                            <div class="col-xl-12 p-heading">
                                                <h6 class="p-text">APPLY TO ALL CLASS</h6>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="form-row">

                                        <div class="col-12 mb-3 pl-lg-3 pr-lg-3">

                                            <div class="">
                                                <div class="slidx">

                                                    <table class="table2">
                                                        <thead>
                                                            <tr>
                                                                <th contenteditable="true" width="20%">
                                                                    Select</th>
                                                                <th contenteditable="true">Class Name</th>
                                                                <th contenteditable="true">Rate</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td contenteditable="true"><input name="className"
                                                                        class="form-check-input mt-1" type="checkbox"
                                                                        id="ipdCheck">
                                                                </td>
                                                                <td contenteditable="true">IPD</td>
                                                                <td contenteditable="true"><input type="text" data-validation
                                                                        name="className_rate" id="ipdrate" value="<%= result.className_rate %>" <%= result.id ? 'disabled' : '' %>></td>
                                                            </tr>
                                                            <tr>
                                                                <td contenteditable="true"><input
                                                                        class="form-check-input mt-1" type="checkbox"
                                                                        id="opdCheck">
                                                                </td>
                                                                <td contenteditable="true">OPD</td>
                                                                <td contenteditable="true"><input type="text" data-validation id="opdrate" value="<%= result.className_rate %>" <%= result.id ? 'disabled' : '' %>></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>

                                        </div>
                                    </div>


                                </div>
                                <div id="loadingIndicator"></div>

                            </div>

                        </div>
                        <div class="form-group mt-1 mb-3 text-right">

                            <button type="button" class="btn-secondary btn-style btn mt-3 mr-2"><strong>Apply
                                    Tax Linking</strong></button>

                            <button type="button" class="btn-primary btn-style btn mt-3 mr-2" data-bs-toggle="modal" data-bs-target="#myModal"><strong>Apply
                                    Levels</strong></button>
                            <button type="button" class="btn-primary btn-style btn mt-3 mr-2"><strong>Assign
                                    Tariff</strong></button>
                            <button type="button" class="btn-primary btn-style btn mt-3 mr-2" data-bs-toggle="modal" data-bs-target="#myModal2"><strong>Assign
                                    Concent</strong></button>


                            <button type="button" class="btn-success btn-style btn mt-3 mr-2" onclick="updateQuery()" id="mod-btn"><strong><i
                                        class="fa-regular fa-pen-to-square"></i> Modify</strong></button>

                            <button type="button" class="btn-secondary btn-style btn mt-3 mr-2" disabled><strong><i
                                        class="fa-solid fa-plus" ></i> New</strong></button>

                            <button type="button" class="btn-danger btn-style btn mt-3 mr-2" onclick="window.location.href='/billing/11';"><strong><i
                                        class="fas fa-times"></i> Cancel</strong></button>

                            <button type="submit"  id='submit'class="btn-primary btn-style btn mt-3" <%= result.id ? 'disabled' : '' %>><strong><i
                                        class="far fa-save"></i>
                                    Save</strong></button>
                        </div>

                </form>

            </div>


<!-- The Modal -->
  <div class="modal" id="myModal">
	<div class="modal-dialog  modal-lg">
	  <div class="modal-content">
  
		<!-- Modal Header -->
		<div class="modal-header">
			<a href="#" class="btn-close" data-bs-dismiss="modal"><i class="fa-solid fa-circle-xmark"></i></a>
		</div>
  
		<!-- Modal body -->
		<div class="modal-body modal-xl">
            <div class="col-lg-12 pl-lg-2 chart-grid">
                <div id="errordiv1"></div>
                <form id="bc-s-m-l-a" method="post">
                    <div id="errordiv1"></div>
                    <div class="card card_border">
                        <div class="">
                            <!--Past your code here starts-->

                            <div class="card">
                                <div class="col-xl-12 p-heading">
                                    <h6 class="p-text">TAXATION DETAILS LIST</h6>
                                </div>
                                <div class="card-body">
                                    <div class="pl-xl-0">
                                        <h6 class="primary"></h6>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-3 mb-3">
                                            <div class="form-group"><label
                                                    class="input__label">L1</label><select name="l1"
                                                    class="form-control input-style" data-validation="required" data-error-message="L1 is required">
                                                    <option value="">Select</option>
                                                    <option value="A">A</option>
                                                    <option value="B">B</option>
                                                </select></div>
                                        </div>
                                        <div class="col-3 mb-3">
                                            <div class="form-group"><label
                                                    class="input__label">L2</label><select name="l2"
                                                    class="form-control input-style" data-validation="required" data-error-message="L2 is required" >
                                                    <option value="">Select</option>
                                                    <option value="A">A</option>
                                                    <option value="B">B</option>
                                                </select></div>
                                        </div>
                                        <div class="col-3 mb-3">
                                            <div class="form-group"><label
                                                    class="input__label">L3</label><select name="l3"
                                                    class="form-control input-style" data-validation="required" data-error-message="L3 is required">
                                                    <option value="">Select</option>
                                                    <option value="A">A</option>
                                                    <option value="B">B</option>
                                                </select></div>
                                        </div>
                                        <div class="col-3 mb-3">
                                            <div class="form-group"><label
                                                    class="input__label">L4</label><select name="l4"
                                                    class="form-control input-style" data-validation="required" data-error-message="L4 is required">
                                                    <option value="">Select</option>
                                                    <option value="A">A</option>
                                                    <option value="B">B</option>
                                                </select></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="loadingIndicator"></div>
                            <!--Past your code here ends-->
                        </div>
                    </div>
                    <div class="form-group mt-1 mb-3 text-right">

                        <button type="button" class="btn-danger btn-style btn mt-3 mr-2"><strong><i
                                    class="fas fa-times"></i> Close</strong></button>

                        <button type="submit" class="btn-primary btn-style btn mt-3"><strong><i
                                    class="far fa-save"></i> Save</strong></button>
                    </div>
                </form>
            </div>
		</div>
  
	  </div>
	</div>
  </div>
<div class="modal" id="myModal2">
	<div class="modal-dialog  modal-lg">
	  <div class="modal-content">
  
		<!-- Modal Header -->
		<div class="modal-header">
			<a href="#" class="btn-close" data-bs-dismiss="modal"><i class="fa-solid fa-circle-xmark"></i></a>
		</div>
  
		<!-- Modal body -->
		<div class="modal-body modal-xl">
            <div class="col-lg-12 pl-lg-2 chart-grid">
                <div id="errordiv1"></div>
                <div class="card_border">
                    <div>
                        <!--Past your code here starts-->

                        <form id="service-master">
                           
                            <div id="errordiv1"></div>
                            <div class="col-lg-12">
                                <h4 class="primary"></h4>
                            </div>
                            <div class="card">
                                <div class="col-xl-12 p-heading">
                                    <h6 class="p-text">CONCENT OF :- ( NAME )</h6>
                                </div>
                                <div class="card-body">
                                    <div class="pl-xl-0">
                                        <h6 class="primary"></h6>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-4 mb-3">
                                            <div class="form-group"><label
                                                    class="input__label">Department</label><input
                                                    name="department" type="text"
                                                    class="form-control input-style" placeholder=""></div>
                                        </div>
                                        <div class="col-4 mb-3">
                                            <div class="form-group"><label class="input__label">template
                                                    name</label><input name="template_name" type="text"
                                                    class="form-control input-style" placeholder=""></div>
                                        </div>
                                        <div class="col-4">
                                            <div class="form-group"><button type="button"
                                                    class="btn btn-style mt-4 btn-primary btn-style btn-change"><strong><i
                                                            class="fas fa-search"></i>
                                                        Search</strong></button></div>
                                        </div>
                                    </div>

                                    <div class="form-row">
                                        <div class="col-12 mb-3 mb-3">
                                            <div class="form-group">
                                                <div class="col col-12 pr-xl-0 pl-xl-0">
                                                    <div class="slidx">
                                                        <table class="table2">
                                                            <thead>
                                                                <tr>
                                                                    <th contenteditable="true"
                                                                        class="text-left pl-4">Concent</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    <td contenteditable="true">
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td contenteditable="true">
                                                                    </td>
                                                                </tr>

                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row"></div>
                                </div>
                            </div>
                            <div id="loadingIndicato"></div>
                            <!--Past your code here ends-->
                    </div>
                </div>
                <div class="form-group mt-1 mb-3 text-right"><button type="button"
                        class="btn-danger btn-style btn mt-3 mr-2"><strong><i class="fas fa-times"></i>
                            Cancel</strong></button>
                    <button type="submit" class="btn-secondary btn-style btn mt-3" disabled><strong><i
                                class="fa-solid fa-plus"></i> Add</strong></button>
                </div>
                </form>
            </div>
		</div>
  
	  </div>
	</div>
  </div>
            <!--footer section start-->
            <%- include('../footer'); -%>
            <!-- <script type="module">
                import { validateForm } from '../javascripts/validation.js';
                import { myAjax } from '../javascripts/myAjax.js';
                $(document).ready(function () {
                    console.log("Document is ready");

                
                });
            </script> -->
<script>
    function updateQuery(){
        document.getElementById('query').value=1;
        $('#mod-btn').prop('disabled', true);   
        $('input[data-validation], select[data-validation]').prop('disabled', false);
        $('#serviceCode').prop('disabled', true);
        document.getElementById('submit').disabled=false;
      }
      if('<%= result.id %>'!==''){
        $('input[data-validation], select[data-validation]').prop('disabled', true); 
      }
      if('<%= result.status %>'!=='true'){
        document.getElementById('mod-btn').disabled = true;
      }else{

        document.getElementById('submit').disabled=false;
       
       }

</script>

<script type="module">
    import { validateForm } from '../javascripts/validation.js';
    import { myAjax } from '../javascripts/myAjax.js';

    $(document).ready(function () {
        console.log("Document is ready");

        var packageRate = parseFloat($("#packageRate").val());

        // Function to update percentage based on rate
        const updatePercentage = (rate, baseRate) => {
            if (!isNaN(rate) && !isNaN(baseRate) && baseRate > 0) {
                return (rate / baseRate) * 100;
            }
            return "";
        };

        // Function to update rate based on percentage
        const updateRate = (percentage, baseRate) => {
            if (!isNaN(percentage) && !isNaN(baseRate) && baseRate > 0) {
                return (percentage / 100) * baseRate;
            }
            return "";
        };

        // Common function to handle input events
        const handleInputEvent = (percentageSelector, rateSelector) => {
            $(percentageSelector).on("input", function () {
                var percentage = parseFloat($(this).val());
                var rate = updateRate(percentage, packageRate);
                if (rate !== "") {
                    $(rateSelector).val(rate.toFixed(2));
                } else {
                    $(rateSelector).val("");
                }
            });

            $(rateSelector).on("input", function () {
                var rate = parseFloat($(this).val());
                var percentage = updatePercentage(rate, packageRate);
                if (percentage !== "") {
                    $(percentageSelector).val(percentage.toFixed(2));
                } else {
                    $(percentageSelector).val("");
                }
            });
        };

        // List of form elements to handle
        const formElements = [
            {
                checkbox: "#inHouse",
                percentage: "#inHouse_per",
                rate: "#inHouse_amount",
            },
            {
                checkbox: "#service_tax",
                percentage: "#service_per",
                rate: "#service_amount",
            },
            {
                checkbox: "#staffDiscount",
                percentage: "#staffDiscount_per",
                rate: "#staffDiscount_amount",
            },
            {
                checkbox: "#staffParentAccount",
                percentage: "#staffParent_per",
                rate: "#staffParent_amount",
            },
            {
                checkbox: "#concession",
                percentage: "#concession_per",
                rate: "#concession_amount",
            },
            {
                checkbox: "#doctor",
                percentage: "#doctor_per",
                rate: "#doctor_amount",
            },
            {
                checkbox: "#rateEditable",
                percentage: "#rateEditable_per",
                rate: "#rateEditable_amount",
            },
            {
                checkbox: "#S_Citizen_Con",
                percentage: "#S_Citizen_per",
                rate: "#S_Citizen_amount",
            },
            {
                checkbox: "#luxuryTax",
                percentage: "#luxuryTax_per",
                rate: "#luxuryTax_amount",
            },
        ];

        // Attach input event handlers to each form element
        formElements.forEach((element) => {
            handleInputEvent(element.percentage, element.rate);
        });

        // Handle packageRate input event
        $("#packageRate").on("input", function () {
            var value = parseFloat($(this).val());
            if (value < 0) {
                $(this).val(0);
                alert("Package Rate cannot be negative");
            } else {
                packageRate = value;
                // Update rates and percentages based on new packageRate
                formElements.forEach((element) => {
                    var percentage = parseFloat($(element.percentage).val());
                    if (!isNaN(percentage)) {
                        var rate = updateRate(percentage, packageRate);
                        $(element.rate).val(rate.toFixed(2));
                    }

                    var rate = parseFloat($(element.rate).val());
                    if (!isNaN(rate)) {
                        var percentage = updatePercentage(rate, packageRate);
                        $(element.percentage).val(percentage.toFixed(2));
                    }
                });
            }
        });

        // Function to populate select fields
        const populateSelect = (selectSelector, data, valueField, textField, selectedValue) => {
            const $select = $(selectSelector);
            $select.empty().append(new Option("Select", ""));
            console.log("Selected value for", selectSelector, "is", selectedValue);
            data.forEach(item => {
                let option = new Option(item[textField], item[textField]);
                if (String(item[textField]) === String(selectedValue)) {  // Ensure string comparison
                    option.selected = true;
                    console.log("Matching item found:", item[textField]);
                }
                $select.append(option);
            });
        };
        const populateSelect2 = (selectSelector, data, valueField, textField, selectedValue) => {
            const $select = $(selectSelector);
            $select.empty().append(new Option("Select", ""));
            console.log("Selected value for", selectSelector, "is", selectedValue);
            data.forEach(item => {
                let option = new Option(item[textField], item[textField]);
              
                if (String(item[textField]) === String(selectedValue)) {  // Ensure string comparison
                    option.selected = true;
                    console.log("Matching item found:", item[textField]);
                }
                $select.append(option);
            });
        };

        // Sample JSON data for specialization and sub-specialization
        const specializations = [
            { "id": 1, "spec_desc": "Reproductive Medicine" },
            { "id": 2, "spec_desc": "Fetomaternal Medicine" },
            { "id": 3, "spec_desc": "Endoscopy" },
            { "id": 4, "spec_desc": "Paediatrics" },
            { "id": 5, "spec_desc": "Andrology" },
            { "id": 6, "spec_desc": "Gynaec Imaging" },
            { "id": 7, "spec_desc": "Other Specialities" },
            { "id": 8, "spec_desc": "Antenatal" },
            { "id": 9, "spec_desc": "Consultation" },
            { "id": 10, "spec_desc": "Clinical Laboratory" },
            { "id": 11, "spec_desc": "CHD-LAB" },
            { "id": 12, "spec_desc": "OBS & GYNAE" },
            { "id": 13, "spec_desc": "IVF-Theatre" },
            { "id": 14, "spec_desc": "IVF-OPU" },
            { "id": 15, "spec_desc": "IUI" },
            { "id": 16, "spec_desc": "Gynaecologist" },
            { "id": 17, "spec_desc": "Gyn-Theatre" },
            { "id": 18, "spec_desc": "Andrology / Embryology" },
            { "id": 19, "spec_desc": "Embrology" },
            { "id": 20, "spec_desc": "OT" },
            { "id": 21, "spec_desc": "CODE" },
            { "id": 22, "spec_desc": "6789" },
            { "id": 23, "spec_desc": "DESC" },
            { "id": 24, "spec_desc": "879" }
        ];

        const subSpecializations = [
            { "id": 1, "sub_spec_desc": "ABC" },
            { "id": 2, "sub_spec_desc": "Reproductive Medicine" },
            { "id": 3, "sub_spec_desc": "Fetomaternal Medicine" },
            { "id": 4, "sub_spec_desc": "Endoscopy" },
            { "id": 5, "sub_spec_desc": "Paediatrics" },
            { "id": 6, "sub_spec_desc": "Andrology" },
            { "id": 7, "sub_spec_desc": "Gynaec Imaging" },
            { "id": 8, "sub_spec_desc": "Other Specialities" },
            { "id": 9, "sub_spec_desc": "Antenatal" },
            { "id": 24, "sub_spec_desc": "SUB SPEC" },
            { "id": 25, "sub_spec_desc": "DESC" },
            { "id": 26, "sub_spec_desc": "DESCSDS" }
        ];

        const selectedSpecialization = '<%= result.specialization %>'; // Ensure these values are properly being injected
const selectedSubSpecialization = '<%= result.subSpecialization %>';

// Populate the specialization and sub-specialization select fields
populateSelect('select[name="specialization"]', specializations, 'id', 'spec_desc', selectedSpecialization);
populateSelect2('select[name="subSpecialization"]', subSpecializations, 'id', 'sub_spec_desc', selectedSubSpecialization);
$('#BC-ser-master').on('submit', function (event) {
    event.preventDefault();

    // Temporarily enable disabled inputs for serialization
    $(this).find(':input:disabled').removeAttr('disabled');
    
    // Serialize form data
    var serializedData = $(this).serialize();
    console.log("Serialized Data:", serializedData);

    // Immediately re-disable the inputs after serialization
    $(this).find(':input').filter(function () {
        return this.disabled;
    }).attr('disabled', 'disabled');

    // Convert serialized data to an object for easy manipulation
    var formData = serializedData.split('&').reduce(function(acc, current) {
        var parts = current.split('=');
        acc[decodeURIComponent(parts[0])] = decodeURIComponent(parts[1].replace(/\+/g, ' '));
        return acc;
    }, {});

    const { isValid, errorMessage } = validateForm('#BC-ser-master');
    let classNames = [];
    let className_rate = [];

    if ($('#ipdCheck').is(':checked')) {
        classNames.push('IPD');
        className_rate.push($('#ipdrate').val());
    }
    if ($('#opdCheck').is(':checked')) {
        classNames.push('OPD');
        className_rate.push($('#opdrate').val());
    }

    formData['className'] = classNames.join(', ');
    formData['className_rate'] = className_rate.join(', ');

    formElements.forEach((element) => {
        if (!$(element.checkbox).is(":checked")) {
            formData[element.percentage.slice(1)] = "";
            formData[element.rate.slice(1)] = "";
        }
        else if ($(element.checkbox).is(":checked")) {
            formData[element.checkbox.slice(1)] = "yes";
            
        }
    });

    console.log("Final Form Data:", formData);

    if (isValid) {
        const url = '/billing/bc-Servise-mst';
        const loadingDiv = '#loadingIndicator';
        myAjax(formData, '#errordiv1', url, loadingDiv);
    } else {
        alert(errorMessage);
        $(errorDivId).removeClass('alert-success').addClass('alert-danger').text(errorMessage).show();
    }
});

    });
</script>
                <script type="module">
                    import { validateForm } from '../javascripts/validation.js';
                    import { myAjax } from '../javascripts/myAjax.js';
                    $(document).ready(function () {
                        console.log("Document is ready");

                        $('#service-master').on('submit', function (event) {
                            event.preventDefault()
                            const { isValid, errorMessage, formData } = validateForm('#service-master')

                            console.log(formData)
                            const errorDivId = '#errordiv1' 

                            if (isValid) {
                                const url = '/billing/bc-ser-mas-ass-cont';
                                const loadingDiv = '#loadingIndicator'
                                myAjax(formData, errorDivId, url, loadingDiv)

                            } else {
                                // alert(errorMessage);
                                $(errorDivId).removeClass('alert-success').addClass('alert-danger').text(errorMessage).show();
                                // $(errorDivId).text(errorMessage).show();
                            }
                        })


                    });
                </script>